:host {
  input {
    outline: none;
    border: 0.1rem solid rgb(var(--color-mode));
    padding: 0.4rem;
    margin-left: 5px;
    width: 285px;
    font-weight: 100;
    background-color: rgb(var(--color-remode));
    color: rgb(var(--color-mode));
    ::placeholder {
      color: rgb(var(--color-mode));
      font-weight: 100;
    }
  }
  & .readonly {
    border: 0.1rem dashed rgb(var(--color-mode));
  }
}
