<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['finance', 'journal']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="{{'general' | translate}}">
                    <dx-form style="margin: 30px;" [formData]="journal" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="5">
                            <dxi-item dataField="Code" [colSpan]="1" [editorOptions]="{ readOnly: true }">
                                <dxo-label text="{{'code' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="JournalTypeId" editorType="dxSelectBox"
                                [editorOptions]="journalTypeEditorOptions" [colSpan]="1">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <dxo-label text="{{'type' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="Name" [colSpan]="2">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <dxo-label text="{{'name' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="JournalModeId" editorType="dxSelectBox"
                                [editorOptions]="journalModesEditorOptions" [colSpan]="1">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <dxo-label text="{{'mode' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item [editorOptions]="{ height: 100 }" dataField="Note" editorType="dxTextArea"
                                [colSpan]="5">
                                <dxo-label text="{{'note' | translate}}"></dxo-label>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: true }" [colCount]="1">
                            <dxi-tab title="{{'journal-lines' | translate}}">
                                <dx-button stylingMode="outlined" icon="trash" type="danger"
                                    text="{{'delete-selected-rows' | translate}}" [width]="200"
                                    (onClick)="deleteSelectedRows()">
                                </dx-button>
                                <dx-data-grid #lines [showRowLines]="true" [dataSource]="journal.Lines"
                                    [repaintChangesOnly]="true" [allowColumnReordering]="true"
                                    [allowColumnResizing]="true" [columnResizingMode]="'widget'"
                                    [columnAutoWidth]="true" keyExpr="Id" [showBorders]="true"
                                    [rowAlternationEnabled]="true" (onInitNewRow)="onInitNewRow($event)"
                                    (onEditingStart)="onEditingStart($event)" (onRowRemoved)="onRowRemoved($event)">
                                    <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true"
                                        [allowDeleting]="true" [useIcons]="true">
                                    </dxo-editing>
                                    <dxo-selection mode="multiple"> </dxo-selection>
                                    <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                                    <dxi-column dataField="Code" caption="{{'code' | translate}}">
                                    </dxi-column>
                                    <dxi-column dataField="LineDate" format="dd-MMM-yyyy" dataType="date"
                                        [visible]="false" caption="{{'line-date' | translate}}"> </dxi-column>
                                    <dxi-column dataField="EntryTypeCode" caption="{{'type' | translate}}">
                                        <dxo-lookup [dataSource]="dsEntryTypes" valueExpr="Code" displayExpr="Name">
                                        </dxo-lookup>
                                    </dxi-column>
                                    <dxi-column dataField="ExpirationDate" [visible]="false"
                                        caption="{{'expiration-date' | translate}}"> </dxi-column>
                                    <dxi-column dataField="DebitAccountCode"
                                        caption="{{'debit-account-code' | translate}}"> </dxi-column>
                                    <dxi-column dataField="DebitAccountName"
                                        caption="{{'debit-account-name' | translate}}"> </dxi-column>
                                    <dxi-column dataField="CreditAccountCode"
                                        caption="{{'credit-account-code' | translate}}"> </dxi-column>
                                    <dxi-column dataField="CreditAccountName"
                                        caption="{{'credit-account-name' | translate}}"> </dxi-column>
                                    <dxi-column dataField="Amount" format="###,##0.000"
                                        caption="{{'amount' | translate}}"> </dxi-column>
                                    <!-- <dxi-column dataField="PaidAmount" format="###,##0.000"
                                        caption="{{'paid-amount' | translate}}"> </dxi-column>
                                    <dxi-column dataField="OutstandingAmount" format="###,##0.000"
                                        caption="{{'outstanding-amount' | translate}}"> </dxi-column> -->
                                    <dxi-column dataField="CurrencyCode" caption="Currency"
                                        caption="{{'currency' | translate}}"> </dxi-column>

                                    <dxo-summary [recalculateWhileEditing]="true">
                                        <dxi-total-item column="Amount" displayFormat="{{ 'sum' | translate }}: {0}"
                                            valueFormat="###,##0.000" summaryType="sum"> </dxi-total-item>
                                    </dxo-summary>
                                </dx-data-grid>
                                <div style="float: right; display: inline-flex;">
                                    <div>
                                        <label style="font-weight: bold; color: rgba(51,51,51,.7);"> Debit </label>
                                        <dx-number-box style="margin: 5px;" [width]="150" [readOnly]="true"
                                            [(value)]="debitTotalAmount" format="###,##0.000 AZN">
                                        </dx-number-box>
                                    </div>
                                    <div>
                                        <label style="font-weight: bold; color: rgba(51,51,51,.7);"> Credit </label>
                                        <dx-number-box style="margin: 5px;" [width]="150" [readOnly]="true"
                                            [(value)]="creditTotalAmount" format="###,##0.000 AZN"></dx-number-box>
                                    </div>
                                </div>
                            </dxi-tab>
                        </dxi-item>
                        <dxi-item style="float: right;">
                            <dx-button style="margin-right: 10px;" stylingMode="outlined" icon="upload"
                                text="{{'post-now' | translate}}" type="default" [width]="130"
                                (onClick)="journalSave({ itemData: { name: 'Post Now' } })">
                            </dx-button>
                            <dx-button style="margin-right: 10px;" stylingMode="outlined" icon="tags"
                                text="{{'save-as-draft' | translate}}" type="danger" [width]="160"
                                (onClick)="journalSave({ itemData: { name: 'Save as a draft' } })">
                            </dx-button>
                            <dx-drop-down-button style="width: 200px; margin-right: 10px;" [splitButton]="true"
                                [dropDownOptions]="{ width: 220 }" text="{{'post-as-new-journal' | translate}}"
                                icon="parentfolder" [items]="journalButtonSettings" displayExpr="name" keyExpr="id"
                                (onItemClick)="journalSave($event)"
                                (onButtonClick)="journalSave({ itemData: { name: 'Post as a new journal' } })">
                            </dx-drop-down-button>
                            <dx-button style="margin-right: 5px;" stylingMode="outlined" icon="trash" type="danger"
                                [width]="40" (onClick)="journalSave({ itemData: { name: 'Remove' } })">
                            </dx-button>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
            </mat-tab-group>

            <dx-popup [width]="1010" [height]="650" [dragEnabled]="true" [shading]="false" [showTitle]="true"
                title="{{'journal-line' | translate}}" [showCloseButton]="true" [(visible)]="journalLinePopupVisible"
                (onHidden)="journalLinePopupClosing()">
                <dx-scroll-view [showScrollbar]="'onScroll'">
                    <dx-form style="margin: 30px;" [formData]="selectedJournalLine" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="4" caption="{{'account-details' | translate}}">
                            <dxi-item [colSpan]="2">
                                <label>{{'debit-account' | translate}}</label>
                                <dx-select-box valueExpr="Id" displayExpr="Name" searchEnabled="true"
                                    [value]="_selectedDebitAccount" [showClearButton]="true" searchMode="startsWith"
                                    [searchExpr]="['Code', 'Name']" [dropDownOptions]="{ width: 500 }"
                                    placeholder="Select an debit account..." [dataSource]="dsAccounts"
                                    itemTemplate="item" fieldTemplate="field"
                                    (onSelectionChanged)="debitAccount_onSelectionChanged($event)">
                                    <div *dxTemplate="let i of 'item'">
                                        <span>[{{i.Code}}] :: [{{i.Name}}]</span>
                                    </div>

                                    <div *dxTemplate="let data of 'field'">
                                        <dx-text-box
                                            [value]="(data && _selectedDebitAccount) ? '[' + data.Code + '] :: [' + data.Name + ']' : selectedDebitAccount && '[' + selectedDebitAccount.Code + '] :: [' + selectedDebitAccount.Name + ']'">
                                        </dx-text-box>
                                    </div>
                                </dx-select-box>
                                <div *ngIf="selectedDebitAccount" style="display: flex; flex-direction: row-reverse;">
                                    <a style="color: #5A9CD8; cursor: pointer; font-weight: bold;"
                                        (click)="debitAccountDimensionGroupsPopupClick()">{{'dimension-groups' |
                                        translate}}</a>
                                </div>
                            </dxi-item>
                            <dxi-item [colSpan]="2">
                                <label>{{'credit-account' | translate}}</label>
                                <dx-select-box valueExpr="Id" displayExpr="Name" searchEnabled="true"
                                    [value]="_selectedCreditAccount" [showClearButton]="true" searchMode="startsWith"
                                    [searchExpr]="['Code', 'Name']" [dropDownOptions]="{ width: 500 }"
                                    placeholder="Select an credit account..." [dataSource]="dsAccounts"
                                    itemTemplate="item" fieldTemplate="field"
                                    (onSelectionChanged)="creditAccount_onSelectionChanged($event)">
                                    <div *dxTemplate="let i of 'item'">
                                        <span>[{{i.Code}}] :: [{{i.Name}}]</span>
                                    </div>

                                    <div *dxTemplate="let data of 'field'">
                                        <dx-text-box
                                            [value]="(data && _selectedCreditAccount) ? '[' + data.Code + '] :: [' + data.Name + ']' : selectedCreditAccount && '[' + selectedCreditAccount.Code + '] :: [' + selectedCreditAccount.Name + ']'">
                                        </dx-text-box>
                                    </div>
                                </dx-select-box>
                                <div *ngIf="selectedCreditAccount" style="display: flex; flex-direction: row-reverse;">
                                    <a style="color: #5A9CD8; cursor: pointer; font-weight: bold;"
                                        (click)="creditAccountDimensionGroupsPopupClick()">{{'dimension-groups' |
                                        translate}}</a>
                                </div>
                            </dxi-item>
                            <dxi-item dataField="Amount" editorType="dxNumberBox" [editorOptions]="amountEditorOptions">
                                <dxo-label text="{{'amount' | translate}}"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="CurrencyCode" editorType="dxSelectBox"
                                [editorOptions]="currencyEditorOptions">
                                <dxo-label text="{{'currency' | translate}}"></dxo-label>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" [colCount]="4" caption="{{'line-details' | translate}}">
                            <dxi-item dataField="Code" [editorOptions]="{ readOnly: true }">
                                <dxo-label text="{{'code' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="EntryTypeCode" editorType="dxSelectBox"
                                [editorOptions]="entryTypeEditorOptions">
                                <dxo-label text="{{'type' | translate}}"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="LineDate" editorType="dxDateBox"
                                [editorOptions]="entryDateEditorOptions">
                                <dxo-label text="{{'line-date' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="EntryExpirationDate" editorType="dxDateBox"
                                [editorOptions]="expirationDateEditorOptions">
                                <dxo-label text="{{'expiration-date' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="DocumentNumber">
                                <dxo-label text="{{'document-number' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="Note" [colSpan]="3">
                                <dxo-label text="{{'note' | translate}}"></dxo-label>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item style="float: right;">
                            <dx-button style="margin-right: 10px;" stylingMode="outlined" icon="save"
                                text="{{'save-line-and-close' | translate}}" type="success" [width]="180"
                                (onClick)="journalLineSave({ itemData: 'Save Line & Close' })">
                            </dx-button>
                            <dx-button style="margin-right: 10px;" stylingMode="outlined" icon="save"
                                text="{{'save-as-new-line' | translate}}" type="default" [width]="180"
                                (onClick)="journalLineSave({ itemData: 'Save as a new line' })">
                            </dx-button>
                            <dx-button style="margin-right: 10px;" stylingMode="outlined" icon="save"
                                text="{{'save-as-new-line-and-close' | translate}}" type="default" [width]="230"
                                (onClick)="journalLineSave({ itemData: 'Save as a new line & Close' })">
                            </dx-button>
                            <dx-drop-down-button [disabled]="journal.JournalModeId == 100"
                                style="margin-right: 10px; width: 230px;" [splitButton]="true"
                                text="{{'save-line-and-add-offset-line' | translate}}"
                                [dropDownOptions]="{ width: 230 }" icon="save" [items]="journalLineButtonSettings"
                                (onItemClick)="journalLineSave($event)"
                                (onButtonClick)="journalLineSave({ itemData: 'Save line & Add offset line' })">
                            </dx-drop-down-button>
                            <dx-button style="margin-right: 5px;" stylingMode="outlined" icon="trash" type="danger"
                                [width]="40" (onClick)="journalLineSave({ itemData: 'Remove' })">
                            </dx-button>
                        </dxi-item>
                    </dx-form>
                </dx-scroll-view>
            </dx-popup>

            <!-- Debit Account - Dimension Group -->
            <dx-popup [width]="900" [height]="400" [dragEnabled]="true" [shading]="false" [showTitle]="true"
                title="{{'dimension-groups' | translate}} - [{{selectedDebitAccount ? selectedDebitAccount.Code : ''}}] :: [{{selectedDebitAccount ? selectedDebitAccount.Name : ''}}]"
                [closeOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="debitAccountDimensionGroupsPopup"
                [resizeEnabled]="true">
                <dx-scroll-view [showScrollbar]="'onScroll'">
                    <dx-data-grid #debitAccountDataGrid [showRowLines]="true"
                        [dataSource]="selectedJournalLine.DebitAccountDimensionGroups" keyExpr="Id"
                        [columnAutoWidth]="true" [showBorders]="true" [rowAlternationEnabled]="true">
                        <dxi-column dataField="Code" caption="{{'code' | translate}}">
                        </dxi-column>
                        <dxi-column dataField="Name" caption="{{'name' | translate}}">
                        </dxi-column>
                        <dxi-column dataField="PostType" caption="{{'post-type' | translate}}">
                            <dxo-lookup [dataSource]="dimensionPostTypeDataSource" valueExpr="Code" displayExpr="Name">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="AnalysisDimension" caption="{{'analysis-dimension' | translate}}"
                            cellTemplate="analysisDimensionTemplate">
                        </dxi-column>

                        <div *dxTemplate="let tempAnalysisDimension of 'analysisDimensionTemplate'">
                            <div *ngIf="checkDebitAccountDimensionGroupsRowExpanded(tempAnalysisDimension.key)">
                                <dx-drop-down-box [showClearButton]="true" placeholder="Select an analysis dimension..."
                                    [dataSource]="analysisDimensionsMap[tempAnalysisDimension.key]"
                                    [(value)]="selectedJournalLine.DebitAccountSelectedAnalysisDimension[tempAnalysisDimension.key]"
                                    [displayValueFormatter]="analysisDimensions_displayValueFormatter"
                                    [(opened)]="debitAccount_dimensionGroupsIsOpened[tempAnalysisDimension.key]"
                                    [readOnly]="debitAccountDimensionGroupDisabled[tempAnalysisDimension.key]">
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-tree-list [dataSource]="analysisDimensionsMap[tempAnalysisDimension.key]"
                                            [hoverStateEnabled]="true" keyExpr="Id" parentIdExpr="ParentId"
                                            [columnAutoWidth]="true" height="100%" width="100%" [autoExpandAll]="true"
                                            [showBorders]="true"
                                            (onRowDblClick)="gvDebitAccountAnalysisDimensions_rowDblClick($event)">
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="Code" caption="{{'code' | translate}}">
                                            </dxi-column>
                                            <dxi-column dataField="Name" caption="{{'name' | translate}}">
                                            </dxi-column>
                                        </dx-tree-list>
                                    </div>
                                </dx-drop-down-box>
                            </div>
                        </div>
                    </dx-data-grid>
                </dx-scroll-view>
            </dx-popup>
            <!-- -------------------------------------------------- -->

            <!-- Credit Account - Dimension Group -->
            <dx-popup [width]="900" [height]="400" [dragEnabled]="true" [shading]="false" [showTitle]="true"
                title="{{'dimension-groups' | translate}} - [{{selectedCreditAccount ? selectedCreditAccount.Code : ''}}] :: [{{selectedCreditAccount ? selectedCreditAccount.Name : ''}}]"
                [closeOnOutsideClick]="true" [showCloseButton]="true" [(visible)]="creditAccountDimensionGroupsPopup"
                [resizeEnabled]="true">
                <dx-scroll-view [showScrollbar]="'onScroll'">
                    <dx-data-grid #creditAccountDataGrid [showRowLines]="true"
                        [dataSource]="selectedJournalLine.CreditAccountDimensionGroups" keyExpr="Id"
                        [columnAutoWidth]="true" [showBorders]="true" [rowAlternationEnabled]="true">
                        <dxi-column dataField="Code" caption="{{'code' | translate}}">
                        </dxi-column>
                        <dxi-column dataField="Name" caption="{{'name' | translate}}">
                        </dxi-column>
                        <dxi-column dataField="PostType" caption="{{'post-type' | translate}}">
                            <dxo-lookup [dataSource]="dimensionPostTypeDataSource" valueExpr="Code" displayExpr="Name">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="AnalysisDimension" caption="{{'analysis-dimension' | translate}}"
                            cellTemplate="analysisDimensionTemplate">
                        </dxi-column>

                        <div *dxTemplate="let tempAnalysisDimension of 'analysisDimensionTemplate'">
                            <div *ngIf="checkCreditAccountDimensionGroupsRowExpanded(tempAnalysisDimension.key)">
                                <dx-drop-down-box [showClearButton]="true" placeholder="Select an analysis dimension..."
                                    [dataSource]="analysisDimensionsMap[tempAnalysisDimension.key]"
                                    [(value)]="selectedJournalLine.CreditAccountSelectedAnalysisDimension[tempAnalysisDimension.key]"
                                    [displayValueFormatter]="analysisDimensions_displayValueFormatter"
                                    [(opened)]="creditAccount_dimensionGroupsIsOpened[tempAnalysisDimension.key]"
                                    [readOnly]="creditAccountDimensionGroupDisabled[tempAnalysisDimension.key]">
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-tree-list [dataSource]="analysisDimensionsMap[tempAnalysisDimension.key]"
                                            [hoverStateEnabled]="true" keyExpr="Id" parentIdExpr="ParentId"
                                            [columnAutoWidth]="true" height="100%" width="100%" [autoExpandAll]="true"
                                            [showBorders]="true"
                                            (onRowDblClick)="gvCreditAccountAnalysisDimensions_rowDblClick($event)">
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="Code" caption="{{'code' | translate}}">
                                            </dxi-column>
                                            <dxi-column dataField="Name" caption="{{'name' | translate}}">
                                            </dxi-column>
                                        </dx-tree-list>
                                    </div>
                                </dx-drop-down-box>
                            </div>
                        </div>
                    </dx-data-grid>
                </dx-scroll-view>
            </dx-popup>
            <!-- -------------------------------------------------- -->
        </div>
    </vex-page-layout-content>
</vex-page-layout>