.form-avatar {
  height: 128px;
  width: 128px;
  margin-bottom: 3px;
  border: 1px solid #d2d3d5;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.file-upload {
  display: none;
}
