<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'employee']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dsEmployee" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="7">
                            <dxi-item [colSpan]="1">
                                <img class="form-avatar" [src]="profilePictureURL" *ngIf="profilePictureURL">
                                <input class="file-upload" #file type="file" (change)="showFiles(file.files)"
                                    accept="image/*">
                                <dx-button (onClick)="file.click()" stylingMode="outlined" text="Upload Photo"
                                    type="success" [width]="130" [height]="35"></dx-button>
                            </dxi-item>
                            <dxi-item itemType="group" [colSpan]="6">
                                <dxi-item itemType="group" [colCount]="4">
                                    <dxi-item dataField="Structure" [editorOptions]="{ readOnly: true }">
                                    </dxi-item>
                                    <dxi-item dataField="Department" [editorOptions]="{ readOnly: true }">
                                    </dxi-item>
                                    <dxi-item dataField="Position" [editorOptions]="{ readOnly: true }">
                                    </dxi-item>
                                    <dxi-item dataField="ContractType" [label]="{text: 'Contract Type'}"
                                        [editorOptions]="{ readOnly: true }">
                                    </dxi-item>
                                </dxi-item>
                                <dxi-item itemType="group" [colCount]="3">
                                    <dxi-item [editorOptions]="{ readOnly: true }" dataField="Code">
                                    </dxi-item>
                                    <dxi-item dataField="StatusId" [label]="{text: 'Status'}"
                                        [editorOptions]="statusEditorOptions" editorType="dxSelectBox">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item dataField="StartDate" editorType="dxDateBox"
                                        [editorOptions]="{ displayFormat: 'dd-MMM-yyyy' }">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-item>
                                </dxi-item>
                                <dxi-item itemType="group" [colCount]="3">
                                    <dxi-item dataField="FirstName">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item dataField="MiddleName">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item dataField="LastName">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-item>
                                </dxi-item>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" [colCount]="4">
                            <dxi-item dataField="IDNumber" [label]="{ text: 'ID Number' }"></dxi-item>
                            <dxi-item dataField="SIN"></dxi-item>
                            <dxi-item dataField="TIN"></dxi-item>
                            <dxi-item dataField="PrimaryEmail">
                                <dxi-validation-rule type="email"> </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="CitizenshipId" [label]="{ text: 'Citizenship' }"
                                editorType="dxSelectBox" [editorOptions]="citizenshipListEditorOptions">
                            </dxi-item>
                            <dxi-item dataField="BirthCountryId" [label]="{text: 'Birth Country'}"
                                editorType="dxSelectBox" [editorOptions]="birthCountryEditorOptions">
                            </dxi-item>
                            <dxi-item dataField="BirthCityId" [label]="{text: 'Birth City'}" editorType="dxSelectBox"
                                [editorOptions]="birthCityEditorOptions">
                            </dxi-item>
                            <dxi-item dataField="BirthDate" [editorOptions]="birthDateEditorOptions"
                                editorType="dxDateBox">
                            </dxi-item>
                            <dxi-item dataField="GenderId" [label]="{text: 'Gender'}"
                                [editorOptions]="genderEditorOptions" editorType="dxSelectBox">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="BloodGroupId" [label]="{ text: 'Blood Group' }"
                                [editorOptions]="bloodGroupEditorOptions" editorType="dxSelectBox">
                            </dxi-item>
                            <dxi-item dataField="ReligionId" [label]="{text: 'Religion'}"
                                [editorOptions]="religionEditorOptions" editorType="dxSelectBox">
                            </dxi-item>
                            <dxi-item dataField="EmploymentTypeId" [label]="{ text: 'Employment Type' }"
                                editorType="dxSelectBox" [editorOptions]="employmentTypeEditorOptions">
                                <dxi-validation-rule type="required"> </dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="DrivingCategories" [label]="{ text: 'Driving Category' }"
                                editorType="dxTagBox" [editorOptions]="drivingCategoryEditorOptions">
                            </dxi-item>
                            <dxi-item dataField="MilitaryStatusId" [label]="{ text: 'Military Status' }"
                                editorType="dxSelectBox" [editorOptions]="militaryStatusEditorOptions">
                            </dxi-item>
                            <dxi-item dataField="MaritalStatusId" [label]="{ text: 'Marital Status' }"
                                editorType="dxSelectBox" [editorOptions]="maritalStatusEditorOptions">
                            </dxi-item>
                            <dxi-item dataField="Experience">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item [editorOptions]="{ height: 100 }" dataField="Note" editorType="dxTextArea"></dxi-item>
                    </dx-form>
                    <dx-button style="float: right; margin: 0px 30px 10px;" stylingMode="contained" text="Submit"
                        type="success" [width]="200" (onClick)="approve()">
                    </dx-button>
                </mat-tab>
                <mat-tab label="Contact and Address">
                    <dx-form [showColonAfterLabel]="false" style="margin: 30px;" [labelLocation]="'top'">
                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
                            <dxi-tab title="Contact">
                                <dx-data-grid [dataSource]="dsBirthCountries" keyExpr="Id" [showBorders]="true">
                                    <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true"
                                        [allowDeleting]="true" [useIcons]="true">
                                    </dxo-editing>
                                    <dxi-column dataField="ContactTypeId" caption="Contact Type">
                                        <dxo-lookup [dataSource]="dsBirthCountries" valueExpr="Id" displayExpr="Name">
                                        </dxo-lookup>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="Contact">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-column>
                                </dx-data-grid>
                            </dxi-tab>
                        </dxi-item>
                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
                            <dxi-tab title="Address">
                                <dx-data-grid [dataSource]="dsBirthCountries" keyExpr="Id" [showBorders]="true">
                                    <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true"
                                        [allowDeleting]="true" [useIcons]="true">
                                    </dxo-editing>
                                    <dxi-column dataField="AddressTypeId" caption="Address Type">
                                        <dxo-lookup [dataSource]="dsBirthCountries" valueExpr="Id" displayExpr="Name">
                                        </dxo-lookup>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="Address">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-column>
                                </dx-data-grid>
                            </dxi-tab>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
                <mat-tab label="Education">
                    <dx-data-grid [showBorders]="true" style="margin: 30px;">
                        <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                            [useIcons]="true">
                        </dxo-editing>
                        <dxi-column dataField="Degree"> </dxi-column>
                        <dxi-column dataField="School"> </dxi-column>
                        <dxi-column dataField="FieldOfStudy"></dxi-column>
                        <dxi-column dataField="StartYear" dataType="date"> </dxi-column>
                        <dxi-column dataField="EndYear" dataType="date"> </dxi-column>
                    </dx-data-grid>
                </mat-tab>
                <mat-tab label="Skills and Languages">
                    <dx-form style="margin: 30px;">
                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                            <dxi-tab title="Skills">
                                <dx-tag-box valueExpr="Id" searchEnabled="true" [hideSelectedItems]="true">
                                </dx-tag-box>
                            </dxi-tab>
                        </dxi-item>
                    </dx-form>

                    <dx-form style="margin: 30px;">
                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                            <dxi-tab title="Languages">
                                <dx-data-grid [showBorders]="true">
                                    <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true"
                                        [allowDeleting]="true" [useIcons]="true">
                                    </dxo-editing>
                                    <dxi-column caption="Name">
                                        <dxo-lookup>
                                        </dxo-lookup>
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="Reading" dataType="boolean"> </dxi-column>
                                    <dxi-column dataField="Writing" dataType="boolean"> </dxi-column>
                                    <dxi-column dataField="Speaking" dataType="boolean"> </dxi-column>
                                    <dxi-column dataField="Listening" dataType="boolean"> </dxi-column>
                                </dx-data-grid>
                            </dxi-tab>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
                <mat-tab label="Work Experience">
                    <dx-data-grid [showBorders]="true" style="margin: 30px;">
                        <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                            [useIcons]="true">
                        </dxo-editing>
                        <dxi-column dataField="Company Name"></dxi-column>
                        <dxi-column dataField="Profession"></dxi-column>
                        <dxi-column dataType="date" dataField="Start year"></dxi-column>
                        <dxi-column dataType="date" dataField="End year"></dxi-column>
                    </dx-data-grid>
                </mat-tab>
                <mat-tab label="Documents">
                    <!-- <dx-file-manager style="margin: 30px;" [fileProvider]="remoteProvider" height="250"
                        [upload]="{ maxFileSize: 5000000 }" [allowedFileExtensions]="allowedFileExtensions"
                        currentPath="Widescreen">
                        <dxo-item-view mode="thumbnails">
                        </dxo-item-view>
                        <dxo-permissions remove="true" upload="true" download="true">
                        </dxo-permissions>
                    </dx-file-manager> -->
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>