::ng-deep {
  .hub-select-field {
    width: 300px !important ;
    border: 1px solid rgb(var(--color-mode));
    margin-bottom: 0 !important;
    margin-left: 10px;
    background-color: rgb(var(--color-remode));
    .mat-form-field-wrapper {
      padding: 0 !important;
      margin: 0 !important;
    }
    .mat-form-field-outline {
      color: transparent !important;
    }
    .mat-form-field-infix {
      padding: 0.2rem 0 0.6rem 0 !important;
    }
  }
}
