<mat-form-field class="hub-select-field" appearance="outline">
  <mat-select
    [required]="required"
    (selectionChange)="selectionChange.emit($event)"
    [formControl]="selectListControl"
  >
    <mat-option>{{ defaultText ? defaultText : "--" }}</mat-option>
    <mat-option *ngFor="let data of dataSource" [value]="data[value]">
      <ng-template
        [ngTemplateOutlet]="templateVariable"
        [ngTemplateOutletContext]="{ data: data }"
      ></ng-template>
    </mat-option>
  </mat-select>
</mat-form-field>
