<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'question']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dataSource" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="3">
                            <dxi-item [editorOptions]="{ readOnly: true }" dataField="Code"> </dxi-item>
                            <dxi-item dataField="Name">
                            </dxi-item>
                            <dxi-item dataField="QuestionTypeId" [label]="{ text: 'Type' }"
                                [editorOptions]="questionTypeEditorOptions" editorType="dxSelectBox">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" [colCount]="3">
                            <dxi-item dataField="Duration" [label]="{ text: 'Duration (minute)' }"
                                [editorOptions]="durationEditorOptions" editorType="dxNumberBox">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="Score" [editorOptions]="scoreEditorOptions" editorType="dxNumberBox">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="QuestionGroupId" [label]="{ text: 'Group' }"
                                [editorOptions]="questionGroupEditorOptions" editorType="dxSelectBox">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group">
                            <dxi-item dataField="Note" [editorOptions]="{ height: 100 }" editorType="dxTextArea">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item>
                            <dx-button style="float: right; margin: 20px 20px 20px;" stylingMode="contained"
                                text="Submit" type="success" [width]="200" (onClick)="approve()">
                            </dx-button>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
                <mat-tab *ngIf="Id!=0" label="Contents">
                    <dx-form>
                        <dxi-item>
                            <dx-data-grid style="margin: 30px;" [dataSource]="dsQuestionContents" keyExpr="Id" [showBorders]="true"
                                (onRowInserting)="contents_onRowInserting($event)"
                                (onRowUpdating)="contents_onRowUpdating($event)"
                                (onRowRemoving)="contents_onRowRemoving($event)">
                                <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true"
                                    [allowDeleting]="true" [useIcons]="true">
                                    <dxo-popup title="Content" [showTitle]="true" [width]="700" [height]="525"
                                        [position]="{ my: 'center', at: 'center' }" [closeOnOutsideClick]="true">
                                    </dxo-popup>
                                    <dxo-form [showColonAfterLabel]="false" [labelLocation]="'top'">
                                        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                            <dxi-item dataField="Type"></dxi-item>
                                            <dxi-item dataField="Order"></dxi-item>
                                        </dxi-item>
                                        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                            <dxi-item dataField="Content" editorType="dxTextArea" [colSpan]="2"
                                                [editorOptions]="{ height: 250 }">
                                            </dxi-item>
                                        </dxi-item>
                                    </dxo-form>
                                </dxo-editing>
                                <dxi-column dataField="Content">
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataType="number" dataField="Type"> </dxi-column>
                                <dxi-column dataType="number" dataField="Order"> </dxi-column>
                            </dx-data-grid>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
                <mat-tab *ngIf="Id!=0" label="Answers">
                    <dx-form>
                        <dxi-item>
                            <dx-data-grid style="margin: 30px;" [dataSource]="dsAnswers" keyExpr="Id"
                                [showBorders]="true" [focusedRowEnabled]="true"
                                (onRowInserting)="answers_onRowInserting($event)"
                                (onRowUpdating)="answers_onRowUpdating($event)"
                                (onRowRemoving)="answers_onRowRemoving($event)"
                                (onFocusedRowChanged)="answers_onFocusedRowChanged($event)">
                                <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true"
                                    [allowDeleting]="true" [useIcons]="true">
                                    <dxo-popup title="Answer" [showTitle]="true" [width]="700" [height]="300"
                                        [position]="{ my: 'center', at: 'center' }" [closeOnOutsideClick]="true">
                                    </dxo-popup>
                                    <dxo-form [showColonAfterLabel]="false" [labelLocation]="'top'">
                                        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                            <dxi-item dataField="Name">
                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                            </dxi-item>
                                            <dxi-item dataField="Order"></dxi-item>
                                            <dxi-item dataField="Correct">
                                                <dxo-label location="left" alignment="right">
                                                </dxo-label>
                                            </dxi-item>
                                        </dxi-item>
                                    </dxo-form>
                                </dxo-editing>
                                <dxi-column dataField="Name">
                                    <dxi-validation-rule type="required"></dxi-validation-rule>
                                </dxi-column>
                                <dxi-column dataField="Order"> </dxi-column>
                                <dxi-column dataField="Correct" dataType="boolean"> </dxi-column>
                            </dx-data-grid>
                        </dxi-item>
                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                            <dxi-tab title="Contents">
                                <dx-data-grid [dataSource]="dsAnswerContents" keyExpr="Id" [showBorders]="true"
                                    (onRowInserting)="answerContents_onRowInserting($event)"
                                    (onRowUpdating)="contents_onRowUpdating($event)"
                                    (onRowRemoving)="contents_onRowRemoving($event)">
                                    <dxo-editing *ngIf="selectedAnswerId!=0" mode="popup" [allowUpdating]="true"
                                        [allowAdding]="true" [allowDeleting]="true" [useIcons]="true">
                                        <dxo-popup title="Content" [showTitle]="true" [width]="700" [height]="525"
                                            [position]="{ my: 'center', at: 'center' }" [closeOnOutsideClick]="true">
                                        </dxo-popup>
                                        <dxo-form [showColonAfterLabel]="false" [labelLocation]="'top'">
                                            <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                                <dxi-item dataField="Type"></dxi-item>
                                                <dxi-item dataField="Order"></dxi-item>
                                            </dxi-item>
                                            <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                                <dxi-item dataField="Content" editorType="dxTextArea" [colSpan]="2"
                                                    [editorOptions]="{ height: 250 }">
                                                </dxi-item>
                                            </dxi-item>
                                        </dxo-form>
                                    </dxo-editing>
                                    <dxi-column dataField="Content">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-column>
                                    <dxi-column dataField="Type" dataType="number"></dxi-column>
                                    <dxi-column dataField="Order" dataType="number"> </dxi-column>
                                </dx-data-grid>
                            </dxi-tab>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>