<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['purchase', 'purchase-quotes']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [showRowLines]="true" [dataSource]="dataSource" keyExpr="Id" [columnAutoWidth]="true"
                [wordWrapEnabled]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)">
                <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                    [useIcons]="true">
                </dxo-editing>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxi-column dataField="Name" caption="{{'name' | translate}}">
                </dxi-column>
                <dxi-column dataField="SearchName" caption="{{'search-name' | translate}}">
                </dxi-column>
                <dxi-column dataField="Note" [allowFiltering]="false">
                    <dxo-form-item [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 100 }">
                    </dxo-form-item>
                </dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>