<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'job-offers']"></vex-breadcrumbs>
                </h2>
            </div>
                <dx-data-grid [dataSource]="dataSource" [columnAutoWidth]="true" [allowColumnResizing]="true"
                    keyExpr="Id" [showBorders]="true" (onInitNewRow)="onInitNewRow($event)"
                    (onEditingStart)="onEditingStart($event)" (onRowRemoving)="onRowRemoving($event)">
                    <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                        [useIcons]="true">
                    </dxo-editing>
                    <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                    <dxi-column dataField="Code"> </dxi-column>
                    <dxi-column dataField="ApplicationCode"> </dxi-column>
                    <dxi-column dataField="Candidate"> </dxi-column>
                    <dxi-column dataField="Department"> </dxi-column>
                    <dxi-column dataField="Position"> </dxi-column>
                    <dxi-column dataField="Status"> </dxi-column>
                    <dxi-column dataField="OfferDate" format="dd-MMM-yyyy" dataType="date"> </dxi-column>
                    <dxi-column dataField="OfferExpirationDate" format="dd-MMM-yyyy" dataType="date"> </dxi-column>
                </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>