<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'employee-demand']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-form [formData]="dataSource" [showColonAfterLabel]="false" [labelLocation]="'top'">
                <dxi-item itemType="group" [colCount]="2">
                    <dxi-item [editorOptions]="{ readOnly: true }" dataField="Code">
                    </dxi-item>
                    <dxi-item [editorOptions]="ReadOnlyEditorOptions" dataField="Name">
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>
                </dxi-item>
                <dxi-item itemType="group" [colCount]="4">
                    <dxi-item dataField="StructureId" [label]="{ text: 'Structure' }">
                        <dx-select-box [readOnly]="IsReadOnly" [dataSource]="dsStructures" valueExpr="Id"
                            [(value)]="dataSource['StructureId']" displayExpr="Name"
                            (onValueChanged)="onStructureValueChanged($event)">
                        </dx-select-box>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="DepartmentId" [label]="{ text: 'Department' }">
                        <dx-drop-down-box [readOnly]="IsReadOnly" #department valueExpr="Id" displayExpr="Name"
                            placeholder="Select..." [dataSource]="dsGrouppedDepartments"
                            (onValueChanged)="syncDepartmentSelection()" [(value)]="dataSource['DepartmentId']">
                            <div *dxTemplate="let data of 'content'">
                                <dx-tree-view [dataSource]="dsGrouppedDepartments" dataStructure="plain" keyExpr="Id"
                                    parentIdExpr="ParentId" selectionMode="single" displayExpr="Name"
                                    [selectByClick]="true" [searchEnabled]="true" searchMode="contains"
                                    (onItemSelectionChanged)="departmentItemSelectionChanged($event)">
                                </dx-tree-view>
                            </div>
                        </dx-drop-down-box>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="PositionId" [label]="{ text: 'Position' }">
                        <dx-drop-down-box [readOnly]="IsReadOnly" #position valueExpr="Id" displayExpr="Name"
                            placeholder="Select..." [dataSource]="dsGrouppedPositions"
                            (onValueChanged)="syncPositionSelection()" [(value)]="dataSource['PositionId']">
                            <div *dxTemplate="let data of 'content'">
                                <dx-tree-view [dataSource]="dsGrouppedPositions" dataStructure="plain" keyExpr="Id"
                                    parentIdExpr="ParentId" selectionMode="single" displayExpr="Name"
                                    [selectByClick]="true" [searchEnabled]="true" searchMode="contains"
                                    (onItemSelectionChanged)="positionItemSelectionChanged($event)">
                                </dx-tree-view>
                            </div>
                        </dx-drop-down-box>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>
                    <dxi-item dataField="ContractTypeId" [label]="{ text: 'Contract Type' }">
                        <dx-select-box [readOnly]="IsReadOnly" [dataSource]="dsContractTypes" valueExpr="Id"
                            [(value)]="dataSource['ContractTypeId']" displayExpr="Name">
                        </dx-select-box>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>
                </dxi-item>

                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                    <dxi-tab title="Responsibility">
                        <dxi-item dataField="ResponsibilityNote" [label]="{ text: 'Note' }" editorType="dxTextArea"
                            [editorOptions]="NoteReadOnlyEditorOptions">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                    </dxi-tab>
                </dxi-item>

                <dxi-item itemType="group" [colCount]="6">
                    <dxi-item dataField="GenderId" [label]="{ text: 'Gender' }">
                        <dx-select-box [readOnly]="IsReadOnly" [dataSource]="dsGenders" valueExpr="Id"
                            displayExpr="Name" [(value)]="dataSource['GenderId']">
                        </dx-select-box>
                        <dxi-validation-rule type="required"></dxi-validation-rule>
                    </dxi-item>

                    <dxi-item itemType="group">
                        <dxi-item dataField="EmployeeCount" editorType="dxNumberBox"
                            [editorOptions]="EmployeeCountReadOnlyEditorOptions">
                        </dxi-item>
                    </dxi-item>

                    <dxi-item itemType="group" [colSpan]="2" colCount="2">
                        <dxi-item dataField="MinAge" editorType="dxNumberBox"
                            [editorOptions]="AgeReadOnlyEditorOptions">
                        </dxi-item>
                        <dxi-item dataField="MaxAge" editorType="dxNumberBox"
                            [editorOptions]="AgeReadOnlyEditorOptions">
                        </dxi-item>
                    </dxi-item>
                    <dxi-item itemType="group" [colSpan]="2" colCount="2">
                        <dxi-item dataField="MinExperience" editorType="dxNumberBox"
                            [editorOptions]="ExperienceReadOnlyEditorOptions">
                        </dxi-item>
                        <dxi-item dataField="MaxExperience" editorType="dxNumberBox"
                            [editorOptions]="ExperienceReadOnlyEditorOptions">
                        </dxi-item>
                    </dxi-item>
                </dxi-item>

                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                    <dxi-tab title="Education Degrees">
                        <dx-tag-box [disabled]="IsReadOnly" [dataSource]="dsEducationDegrees"
                            [(value)]="dataSource['EducationDegrees']" valueExpr="Id" displayExpr="Name"
                            searchEnabled="true" [hideSelectedItems]="true">
                        </dx-tag-box>
                    </dxi-tab>
                </dxi-item>

                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                    <dxi-tab title="Languages">
                        <dx-data-grid [dataSource]="dsRequiredLanguages" keyExpr="Id" [showBorders]="true">
                            <dxo-editing *ngIf="!IsReadOnly" mode="row" [allowUpdating]="true" [allowAdding]="true"
                                [allowDeleting]="true" [useIcons]="true">
                            </dxo-editing>
                            <dxi-column dataField="LanguageId" caption="Name">
                                <dxo-lookup [dataSource]="dsLanguages" valueExpr="Id" displayExpr="Name">
                                </dxo-lookup>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-column>
                            <dxi-column dataField="Reading" dataType="boolean"> </dxi-column>
                            <dxi-column dataField="Writing" dataType="boolean"> </dxi-column>
                            <dxi-column dataField="Speaking" dataType="boolean"> </dxi-column>
                            <dxi-column dataField="Listening" dataType="boolean"> </dxi-column>
                        </dx-data-grid>
                    </dxi-tab>
                </dxi-item>

                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                    <dxi-tab title="Skills">
                        <dx-tag-box [disabled]="IsReadOnly" [dataSource]="dsSkills" valueExpr="Id"
                            [(value)]="dataSource['Skills']" grouped="true" displayExpr="Name" searchEnabled="true"
                            [hideSelectedItems]="true">
                        </dx-tag-box>
                    </dxi-tab>
                </dxi-item>

                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                    <dxi-tab title="Reason">
                        <dxi-item>
                            <dx-select-box [readOnly]="IsReadOnly" [dataSource]="dsReasons"
                                [(value)]="dataSource['ReasonId']" valueExpr="Id" displayExpr="Name">
                            </dx-select-box>
                        </dxi-item>
                        <dxi-item dataField="ReasonNote" [label]="{text: 'Note'}" editorType="dxTextArea"
                            [editorOptions]="NoteReadOnlyEditorOptions">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                    </dxi-tab>
                </dxi-item>

                <dxi-item *ngIf="Id != 0" itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }"
                    [colCount]="1">
                    <dxi-tab title="Attachment">
                        <dx-file-manager [fileSystemProvider]="remoteProvider" height="250"
                            [upload]="{ maxFileSize: 5000000 }" [allowedFileExtensions]="allowedFileExtensions"
                            currentPath="Widescreen">
                            <dxo-item-view mode="thumbnails">
                            </dxo-item-view>
                            <dxo-permissions *ngIf="!IsReadOnly" remove="true" upload="true" download="true">
                            </dxo-permissions>
                        </dx-file-manager>
                    </dxi-tab>
                </dxi-item>

                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                    <dxi-tab title="Approval Employees">

                        <dx-drop-down-box *ngIf="!IsReadOnly" #approvalEmployee [deferRendering]="false"
                            placeholder="Select an employee..." [showClearButton]="true" style="margin-bottom: 15px;"
                            [dataSource]="dsEmployees">

                            <div *dxTemplate="let data of 'content'">
                                <dx-data-grid [dataSource]="dsEmployees" [hoverStateEnabled]="true" height="100%"
                                    [columnAutoWidth]="true" [scrolling]="{ mode: 'infinite' }" [showBorders]="true"
                                    (onRowDblClick)="gvApprovalEmployees_rowDblClick($event)">
                                    <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxo-selection mode="single"></dxo-selection>
                                    <dxi-column dataField="UserId" [visible]="false"> </dxi-column>
                                    <dxi-column dataField="Username"> </dxi-column>
                                    <dxi-column dataField="Code"> </dxi-column>
                                    <dxi-column dataField="Firstname"> </dxi-column>
                                    <dxi-column dataField="Middlename"> </dxi-column>
                                    <dxi-column dataField="Lastname"> </dxi-column>
                                    <dxi-column dataField="Position"> </dxi-column>
                                </dx-data-grid>
                            </div>
                        </dx-drop-down-box>

                        <dx-tag-box (onValueChanged)="ApprovalEmployees_OnValueChanged($event)" [disabled]="IsReadOnly"
                            [dataSource]="dsApprovalEmployees" displayExpr="FullName"
                            [(value)]="dataSource['ApprovalEmployees']" valueExpr="Id" [hideSelectedItems]="true">
                        </dx-tag-box>
                    </dxi-tab>
                </dxi-item>

                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                    <dxi-tab title="Moderators">

                        <dx-drop-down-box *ngIf="!IsReadOnly" #moderator [deferRendering]="false"
                            placeholder="Select an employee..." [showClearButton]="true" style="margin-bottom: 15px;"
                            [dataSource]="dsEmployees">

                            <div *dxTemplate="let data of 'content'">
                                <dx-data-grid [dataSource]="dsEmployees" [hoverStateEnabled]="true" height="100%"
                                    [scrolling]="{ mode: 'infinite' }" [showBorders]="true"
                                    (onRowDblClick)="gvModerators_rowDblClick($event)">
                                    <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                    <dxo-filter-row [visible]="true"></dxo-filter-row>
                                    <dxo-selection mode="single"></dxo-selection>
                                    <dxi-column dataField="UserId" [visible]="false"> </dxi-column>
                                    <dxi-column dataField="Username"> </dxi-column>
                                    <dxi-column dataField="Code"> </dxi-column>
                                    <dxi-column dataField="Firstname"> </dxi-column>
                                    <dxi-column dataField="Middlename"> </dxi-column>
                                    <dxi-column dataField="Lastname"> </dxi-column>
                                    <dxi-column dataField="Position"> </dxi-column>
                                </dx-data-grid>
                            </div>
                        </dx-drop-down-box>

                        <dx-tag-box (onValueChanged)="Moderators_OnValueChanged($event)" [disabled]="IsReadOnly"
                            [dataSource]="dsModerators" displayExpr="FullName" [(value)]="dataSource['Moderators']"
                            valueExpr="Id" [hideSelectedItems]="true">
                        </dx-tag-box>
                    </dxi-tab>
                </dxi-item>
                <dxi-item *ngIf="Id!=0" dataField="StatusId" [label]="{ text: 'Status' }">
                    <dx-select-box [readOnly]="StatusIsReadOnly" [dataSource]="dsStatuses" valueExpr="Id"
                        [(value)]="dataSource['StatusId']" displayExpr="Name">
                    </dx-select-box>
                </dxi-item>
                <dxi-item dataField="Note" [label]="{ text: 'Note' }" editorType="dxTextArea"
                    [editorOptions]="EDNoteReadOnlyEditorOptions">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-item>
                <dxi-item id="footer-buttons">
                    <dx-button class="button-info" text="History" (onClick)="popupVisible=!popupVisible">
                    </dx-button>
                    <dx-button (onClick)="approve()" id="_approve" stylingMode="contained" text="SUBMIT" type="success"
                        [width]="120" [useSubmitBehavior]="true">
                    </dx-button>
                </dxi-item>
            </dx-form>
        </div>

        <dx-popup [width]="500" [height]="500" [showTitle]="true" title="Notes" [dragEnabled]="true"
            [closeOnOutsideClick]="true" [(visible)]="popupVisible">
            <dx-scroll-view [showScrollbar]="'never'">
                <dx-accordion [dataSource]="dsHistory" [collapsible]="true" [multiple]="true" [animationDuration]="300">
                    <div *dxTemplate="let row of 'title'">
                        <h4>{{row.FullName}}</h4>
                    </div>
                    <div *dxTemplate="let row of 'item'">
                        <div>
                            <p>
                                <span>Status</span>
                                (<b>{{row.Status}}</b>)
                            </p>
                            <p>
                                <span>{{row.Note}}</span>
                            </p>
                            <div style="float: right; margin-top: 15px;">
                                <b style="margin-right: 8px;">{{row.Username}}</b>
                                <span>{{row.DateTime}}</span>
                            </div>
                        </div>
                    </div>
                </dx-accordion>
            </dx-scroll-view>
        </dx-popup>
    </vex-page-layout-content>
</vex-page-layout>