.button-info {
  background-color: #007ab4 !important;
  color: white !important;
  font-weight: bold !important;
}

#_approve {
  display: inline-block;
}

#footer-buttons {
  display: flex;
  justify-content: space-between;
}
