<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['administration', 'users']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dsUser" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item>
                            <label>Employee</label>
                            <dx-drop-down-box #employee [deferRendering]="false" placeholder="Select an employee..."
                                style="margin-bottom: 15px;" [dataSource]="dsEmployees" [(value)]="selectedEmployee"
                                [displayValueFormatter]="employees_displayValueFormatter">
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid [dataSource]="dsEmployees" [hoverStateEnabled]="true"
                                        [columnAutoWidth]="true" height="100%" width="100%" [showBorders]="true"
                                        (onRowDblClick)="gvEmployees_rowDblClick()"
                                        [(selectedRowKeys)]="selectedEmployee">
                                        <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                                        <dxo-selection mode="single"></dxo-selection>
                                        <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                        <dxi-column dataField="Code"> </dxi-column>
                                        <dxi-column dataField="Firstname"> </dxi-column>
                                        <dxi-column dataField="Middlename"> </dxi-column>
                                        <dxi-column dataField="Lastname"> </dxi-column>
                                        <dxi-column dataField="Position"> </dxi-column>
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </dxi-item>
                        <dxi-item itemType="group" [colCount]="2">
                            <dxi-item dataField="StatusId" [label]="{ text: 'Status' }"
                                [editorOptions]="statusEditorOptions" editorType="dxSelectBox">
                            </dxi-item>
                            <dxi-item dataField="GroupId" [label]="{ text: 'Group' }"
                                [editorOptions]="groupEditorOptions" editorType="dxSelectBox">
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="group" [colCount]="2">
                            <dxi-item dataField="Username"> </dxi-item>
                            <dxi-item>
                                <label>Password</label>
                                <dx-text-box [(mode)]="passwordMode" [(value)]="password">
                                    <dxi-button name="today" [options]="passwordButton"></dxi-button>
                                </dx-text-box>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item [editorOptions]="{ height: 100 }" dataField="Note" editorType="dxTextArea">
                        </dxi-item>
                    </dx-form>
                    <dx-button class="save-button" style="float: right; margin: 20px 20px 20px;" stylingMode="contained"
                        text="Submit" type="success" [width]="200" (onClick)="approve()">
                    </dx-button>
                </mat-tab>
                <mat-tab *ngIf="Id!=0" label="Roles & Permissions">
                    <dx-form style="margin: 30px;" [showColonAfterLabel]="false" [labelLocation]="'top'">
                        <dxi-item>
                            <label>Roles</label>
                            <dx-drop-down-box #role [deferRendering]="false" placeholder="Select an roles..."
                                style="margin-bottom: 15px;" [dataSource]="dsRoles" [(value)]="selectedRole"
                                [displayValueFormatter]="roles_displayValueFormatter">
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid [dataSource]="dsRoles" [hoverStateEnabled]="true"
                                        [columnAutoWidth]="true" height="100%" width="100%" [showBorders]="true"
                                        (onRowDblClick)="gvRoles_rowDblClick($event)"
                                        [(selectedRowKeys)]="selectedRole">
                                        <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                                        <dxo-selection mode="single"></dxo-selection>
                                        <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                        <dxi-column dataField="Code"> </dxi-column>
                                        <dxi-column dataField="Name"> </dxi-column>
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </dxi-item>
                        <dxi-item>
                            <label>Selected Roles</label>
                            <dx-data-grid [dataSource]="dsSelectedRoles" [hoverStateEnabled]="true"
                                [columnAutoWidth]="true" height="100%" width="100%" [showBorders]="true"
                                (onRowRemoved)="roles_onRowRemoved($event)">
                                <dxo-editing mode="row" [allowDeleting]="true" [useIcons]="true"> </dxo-editing>
                                <dxo-selection mode="single"></dxo-selection>
                                <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                <dxi-column dataField="Code"> </dxi-column>
                                <dxi-column dataField="Name"> </dxi-column>
                            </dx-data-grid>
                        </dxi-item>
                        <dxi-item>
                            <label>Permissions</label>
                            <dx-drop-down-box #permission [deferRendering]="false"
                                placeholder="Select an permissions..." style="margin-bottom: 15px;"
                                [dataSource]="dsPermissions" [(value)]="selectedPermission"
                                [displayValueFormatter]="permissions_displayValueFormatter">
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid [dataSource]="dsPermissions" [hoverStateEnabled]="true"
                                        [columnAutoWidth]="true" height="100%" width="100%" [showBorders]="true"
                                        (onRowDblClick)="gvPermissions_rowDblClick($event)"
                                        [(selectedRowKeys)]="selectedPermission">
                                        <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                                        <dxo-selection mode="single"></dxo-selection>
                                        <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                        <dxi-column dataField="Code"> </dxi-column>
                                        <dxi-column dataField="Name"> </dxi-column>
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </dxi-item>
                        <dxi-item>
                            <label>Selected Permissions</label>
                            <dx-data-grid [dataSource]="dsSelectedPermissions" [hoverStateEnabled]="true"
                                [columnAutoWidth]="true" height="100%" width="100%" [showBorders]="true"
                                (onRowRemoved)="permissions_onRowRemoved($event)">
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-editing mode="row" [allowDeleting]="true" [useIcons]="true"> </dxo-editing>
                                <dxo-selection mode="single"></dxo-selection>
                                <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                <dxi-column dataField="Code"> </dxi-column>
                                <dxi-column dataField="Name"> </dxi-column>
                            </dx-data-grid>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>