<div class="confirm">
  <div class="header">
    <h2 mat-dialog-title>{{ data?.title || "Title" }}</h2>
    <button mat-icon-button [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    {{ data?.content || "Are you sure you want to do this?" }}
  </div>
  <div mat-dialog-actions [align]="'end'">
    <button mat-raised-button [mat-dialog-close]="false" (click)="close()">
      {{ data?.cancelText || "No" }}
    </button>
    <button
      mat-raised-button
      [mat-dialog-close]="true"
      color="primary"
      (click)="success()"
    >
      {{ data?.successText || "Yes" }}
    </button>
  </div>
</div>
