::ng-deep .mat-dialog-container {
  border-radius: 0.2rem !important;
}

.confirm {
  overflow: hidden !important;
  padding: 1rem;
  .mat-dialog-content {
    padding: 1rem 24px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    margin: 0 !important;
  }
}
