<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['finance', 'electronic-invoice-codes']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [dataSource]="dataSource" [focusedRowEnabled]="true" keyExpr="Id" [showBorders]="true"
                [columnAutoWidth]="true" [remoteOperations]="true" (onFocusedRowChanged)="onFocusedRowChanged($event)">
                <dxo-sorting mode="none"></dxo-sorting>
                <dxo-paging [enabled]="true" [pageSize]="10"> </dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]" [showInfo]="true">
                </dxo-pager>
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="Code" caption="{{'code' | translate}}" [filterOperations]="['contains']">
                </dxi-column>
                <dxi-column dataField="Name" caption="{{'name' | translate}}" [filterOperations]="['contains']">
                </dxi-column>
            </dx-data-grid>

            <div *ngIf="NAME" class="task-info">
                <div class="info">
                    <div id="taskSubject">{{CODE}}</div>
                    <p id="taskDetails" [innerHtml]="NAME"></p>
                </div>
            </div>
        </div>
    </vex-page-layout-content>
</vex-page-layout>