.task-info {
    font-family: Segoe UI;
    min-height: 200px;
    display: flex;
    flex-wrap: nowrap;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    box-sizing: border-box;
    align-items: baseline;
    justify-content: space-between;
}
#taskSubject {
    line-height: 29px;
    font-size: 18px;
    font-weight: bold;
}
#taskDetails {
    line-height: 22px;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
}
.info {
    margin-right: 40px;
}
