<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['administration', 'roles']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dsRole" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="2">
                            <dxi-item dataField="Code" [editorOptions]="{ readOnly: true }"> </dxi-item>
                            <dxi-item dataField="Name"> </dxi-item>
                        </dxi-item>
                    </dx-form>
                    <dx-button class="save-button" style="float: right; margin: 20px 20px 20px;" stylingMode="contained"
                        text="Submit" type="success" [width]="200" (onClick)="approve()">
                    </dx-button>
                </mat-tab>
                <mat-tab *ngIf="Id!=0" label="Permissions">
                    <dx-form style="margin: 30px;">
                        <dxi-item>
                            <label>Permissions</label>
                            <dx-drop-down-box #permission [deferRendering]="false" placeholder="Select an permission..."
                                style="margin-bottom: 15px;" [dataSource]="dsPermissions" [(value)]="selectedPermission"
                                [displayValueFormatter]="permissions_displayValueFormatter">
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid [dataSource]="dsPermissions" [hoverStateEnabled]="true"
                                        [columnAutoWidth]="true" height="100%" width="100%" [showBorders]="true"
                                        (onRowDblClick)="gvPermissions_rowDblClick($event)"
                                        [(selectedRowKeys)]="selectedPermission">
                                        <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                                        <dxo-selection mode="single"></dxo-selection>
                                        <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                        <dxi-column dataField="Code"> </dxi-column>
                                        <dxi-column dataField="Name"> </dxi-column>
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </dxi-item>
                        <dxi-item>
                            <label>Selected Permissions</label>
                            <dx-data-grid [dataSource]="dsSelectedPermissions" [hoverStateEnabled]="true"
                                [columnAutoWidth]="true" height="100%" width="100%" [showBorders]="true"
                                (onRowRemoved)="onRowRemoved($event)">
                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                <dxo-editing mode="row" [allowDeleting]="true" [useIcons]="true">
                                </dxo-editing>
                                <dxo-selection mode="single"></dxo-selection>
                                <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                <dxi-column dataField="Code"> </dxi-column>
                                <dxi-column dataField="Name"> </dxi-column>
                            </dx-data-grid>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>