<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['finance', 'accounts']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [showRowLines]="true" [dataSource]="dimensionGroupsDataSource" keyExpr="Id"
                [columnAutoWidth]="true" [wordWrapEnabled]="true" [showBorders]="true"
                [masterDetail]="{ enabled: true, template: 'detail' }"
                (onRowInserting)="dimensionGroup_onRowInserting($event)"
                (onRowUpdating)="dimensionGroup_onRowUpdating($event)"
                (onRowRemoving)="dimensionGroup_onRowRemoving($event)" (onToolbarPreparing)="onToolbarPreparing($event)"
                (onRowExpanded)="onRowExpanded($event)">
                <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                    [useIcons]="true">
                </dxo-editing>
                <dxo-search-panel [visible]="true" width="300"></dxo-search-panel>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxi-column dataField="Id" [visible]="false"></dxi-column>

                <dxi-column dataField="Code" caption="{{'code' | translate}}"
                    [editorOptions]="{ showClearButton: true }" [filterOperations]="['contains']">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>

                <dxi-column dataField="Name" caption="{{'name' | translate}}"
                    [editorOptions]="{ showClearButton: true }" [filterOperations]="['contains']">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>

                <div *dxTemplate="let dimensionGroup of 'detail'">
                    <h3> {{'analysis-dimensions' | translate}} </h3>
                    <dx-tree-list #treeList [dataSource]="analysisDimensionDataSource[dimensionGroup.key]"
                        [showRowLines]="true" [showBorders]="true" [autoExpandAll]="expanded" keyExpr="Id"
                        parentIdExpr="ParentId">
                        <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                            [useIcons]="true">
                        </dxo-editing>
                        <dxo-search-panel [visible]="true" width="300"></dxo-search-panel>
                        <dxo-load-panel [enabled]="true"></dxo-load-panel>
                        <dxo-filter-row [visible]="true"></dxo-filter-row>

                        <dxi-column dataField="Id" [visible]="false"></dxi-column>
                        <dxi-column dataField="ParentId" [visible]="false"></dxi-column>
                        <dxi-column dataField="Code" caption="{{'code' | translate}}"> </dxi-column>
                        <dxi-column dataField="Name" caption="{{'name' | translate}}"> </dxi-column>
                    </dx-tree-list>
                </div>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>