<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['purchase', 'purchase-order']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-form [colCount]="1" id="form" [formData]="dsPurchaseOrder" [labelLocation]="'top'"
                [showColonAfterLabel]="false">
                <dxi-item itemType="group" [colCount]="2">
                    <dxi-item dataField="Code" [editorOptions]="{ readOnly: true }">
                    </dxi-item>
                    <dxi-item [label]="{text: 'Vendor'}">
                        <dx-select-box [dataSource]="dsVendors" displayExpr="Name" valueExpr="Id"
                            [(value)]="dsPurchaseOrder.VendorId">
                        </dx-select-box>
                    </dxi-item>
                </dxi-item>
                <dxi-item>
                    <dx-data-grid [showRowLines]="true" [dataSource]="dsLines" [repaintChangesOnly]="true"
                        [allowColumnReordering]="true" [allowColumnResizing]="true" [columnResizingMode]="'widget'"
                        [columnAutoWidth]="true" keyExpr="Id" [showBorders]="true" [rowAlternationEnabled]="true">
                        <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                            [useIcons]="true">
                        </dxo-editing>
                        <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
                        <dxi-column dataField="Code" caption="{{'code' | translate}}">
                        </dxi-column>
                        <dxi-column dataField="ItemId" caption="{{'item' | translate}}">
                            <dxo-lookup [dataSource]="dsItems" displayExpr="Description" valueExpr="Id">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="LocationId" caption="{{'location' | translate}}">
                            <dxo-lookup [dataSource]="dsLocations" displayExpr="Name" valueExpr="Id">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="Quantity" caption="{{'Quantity' | translate}}">
                        </dxi-column>
                    </dx-data-grid>
                </dxi-item>
                <dxi-item style="float: right;">
                    <dx-button class="save-button" stylingMode="contained" text="Submit" type="success"
                        (onClick)="approve()" [height]="35"></dx-button>
                </dxi-item>
            </dx-form>
        </div>
    </vex-page-layout-content>
</vex-page-layout>