<div
  class="px-6 h-16 border-b sticky left-0"
  fxLayout="row"
  fxLayoutAlign="start center"
  *ngIf="insert || selectRow || search || actions"
>
  <h2 class="title my-0" fxFlex="none" fxHide.xs>
    <ng-container *ngIf="selection.hasValue() && selectRow"
      >{{ selection.selected.length }} {{ name | translate
      }}<span *ngIf="selection.selected.length > 1">{{ "s" | translate }}</span>
      {{ "selected" | translate }}
    </ng-container>
  </h2>

  <div
    *ngIf="selection.hasValue() && selectRow"
    class="ml-4 mr-4 pl-2 pr-2 border-l border-r"
    fxFlex="none"
  >
    <button
      (click)="onRowsSelected(selection.selected, $event)"
      color="primary"
      mat-icon-button
      matTooltip="Delete selected"
      type="button"
    >
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div
    *ngIf="search"
    class="bg-card rounded-full border px-4"
    fxFlex="400px"
    fxFlex.lt-md="auto"
    fxHide.xs
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <mat-icon>search</mat-icon>
    <input
      [formControl]="searchCtrl"
      class="px-4 py-3 border-0 outline-none w-full bg-transparent"
      placeholder="Search..."
      type="search"
    />
  </div>

  <span fxFlex></span>

  <button
    *ngIf="insert"
    (click)="onRowAdd()"
    class="ml-4"
    color="primary"
    fxFlex="none"
    mat-mini-fab
    matTooltip="Add Customer"
    type="button"
  >
    <mat-icon>add</mat-icon>
  </button>
</div>

<table mat-table matMultiSort [dataSource]="dataSource">
  <!-- Select Column -->
  <ng-container *ngIf="selectRow" matColumnDef="Checkbox">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()"
      >
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox
        (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)"
      >
      </mat-checkbox>
    </td>
  </ng-container>

  <!-- Colums -->
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.dataField"
  >
    <th
      mat-header-cell
      [mat-multi-sort-header]="column.dataField"
      *matHeaderCellDef
    >
      {{ column.label | translate }}
    </th>
    <td mat-cell *matCellDef="let element">
      <ng-template
        [ngTemplateOutlet]="templateVariable"
        [ngTemplateOutletContext]="{ item: element, label: column.dataField }"
      ></ng-template>
    </td>
  </ng-container>

  <!-- Action Column -->
  <ng-container *ngIf="actions" matColumnDef="Actions">
    <th *matHeaderCellDef mat-header-cell>
      {{ "actions" | translate }}
    </th>
    <td *matCellDef="let element" mat-cell>
      <button
        (click)="$event.stopPropagation()"
        [matMenuTriggerData]="{ item: element }"
        [matMenuTriggerFor]="actionsMenu"
        mat-icon-button
        type="button"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="{ selectedColor: selection.isSelected(row) }"
    (dblclick)="onRowDblClick(row, $event)"
  ></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell text-center" [colSpan]="displayedColumns.length">
      {{ emptyDataText }}
    </td>
  </tr>
</table>
<ng-container *ngIf="paginatorShow">
  <mat-paginator
    [pageSizeOptions]="pageSizeOptions"
    [pageSize]="pageSize"
    showFirstLastButtons
  ></mat-paginator>
</ng-container>

<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
  <ng-template let-item="item" matMenuContent>
    <button (click)="onRowEdit(item, $event)" mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edit</span>
    </button>
    <button (click)="onRowRemove(item, $event)" mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
