<div class="hub-slide-toggle">
  <label class="switch">
    <input
      type="checkbox"
      [checked]="checked"
      (change)="onInputChange($event)"
      (blur)="onBlur()"
      [disabled]="disabled"
    />
    <span class="slider round"></span>
  </label>
</div>
