.hub-slide-toggle {
  width: 305px;
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 25px;
    margin-left: 10px;
    input {
      opacity: 0;
      width: 0;
      height: 0;
      &:checked + .slider {
        background-color: rgb(var(--color-primary));
      }

      &:focus + .slider {
        box-shadow: 0 0 1px rgb(var(--color-primary));
      }

      &:checked + .slider:before {
        transform: translateX(30px);
      }
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgb(var(--color-mode));
      -webkit-transition: 0.4s;
      transition: 0.4s;
      &:before {
        position: absolute;
        content: "";
        height: 23px;
        width: 23px;
        left: 4px;
        bottom: 1px;
        background-color: rgb(var(--color-remode));
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }
      &.round {
        border-radius: 34px;
      }

      &.round:before {
        border-radius: 50%;
      }
    }
  }
}
