.navigation-item {
  @apply rounded cursor-pointer text-sm font-medium px-1 py-2 relative select-none no-underline block;
  transition: var(--trans-ease-out);
}
.bg-primary {
  background-color: transparent;
}
.navigation-item {
  color: rgb(var(--color-primary-menu-text));
}

.nav-item-layout {
  display: flex;
  align-items: center;
}

.navigation-color {
  color: black;
}

.navigation-menu-item {
  transition: var(--trans-ease-out);

  &:hover {
    @apply text-primary;

    .mat-icon {
      @apply text-primary;
    }
  }
}
