<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'employees']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [dataSource]="dataSource" keyExpr="Id" [showBorders]="true"
                (onInitNewRow)="onInitNewRow($event)" (onEditingStart)="onEditingStart($event)"
                (onRowRemoving)="onRowRemoving($event)">
                <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                </dxo-editing>
                <dxi-column dataField="Code"> </dxi-column>
                <dxi-column dataField="Firstname"> </dxi-column>
                <dxi-column dataField="Middlename"> </dxi-column>
                <dxi-column dataField="Lastname"> </dxi-column>
                <dxi-column dataField="Department"> </dxi-column>
                <dxi-column dataField="Position"> </dxi-column>
                <dxi-column dataField="ContractType"> </dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>