<div
  class="w-full h-full bg-pattern"
  fxLayout="column"
  fxLayoutAlign="center center"
>
  <div @fadeInUp class="card overflow-hidden w-full max-w-xs">
    <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
      <div class="fill-current text-center">
        <img class="signin-img" class="w-16" src="assets/img/demo/logo.png" />
      </div>
    </div>
    <div class="text-center mt-4">
      <h2 class="title m-0">Welcome back</h2>
      <h4 class="body-2 text-secondary m-0">
        Sign in with your credentials below.
      </h4>
    </div>

    <div [formGroup]="form" class="p-6" fxLayout="column" fxLayoutGap="16px">
      <div fxFlex="auto" fxLayout="column" (keyup.enter)="send()">
        <mat-form-field appearance="fill">
          <mat-label>Company</mat-label>
          <input
            matInput
            aria-label="Company"
            [matAutocomplete]="auto"
            formControlName="companyName"
          />
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option
              class="flex justify-start justify-items-center"
              *ngFor="let company of companies"
              [value]="company.name"
            >
              <img
                class="option-img"
                [src]="company.flag"
              />
              <span>{{ company.name }} | </span>
              <small>Population: {{ company.population }}</small>
            </mat-option>
          </mat-autocomplete>
          <mat-error
            class="no-valid"
            *ngIf="form.get('companyName').hasError('required')"
            >We need an Company Name to log you in
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group" fxFlex="grow">
          <mat-label class="form-label">Username</mat-label>
          <input formControlName="username" matInput required />
          <mat-error
            class="no-valid"
            *ngIf="form.get('username').hasError('required')"
            >We need an username to log you in
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-group" fxFlex="grow">
          <mat-label class="form-label">Password</mat-label>
          <input
            [type]="inputType"
            formControlName="password"
            matInput
            required
          />
          <button
            (click)="toggleVisibility()"
            mat-icon-button
            matSuffix
            matTooltip="Toggle Visibility"
            type="button"
          >
            <mat-icon
              class="icon"
              *ngIf="visible"
              [icIcon]="icVisibility"
            ></mat-icon>
            <mat-icon
              class="icon"
              *ngIf="!visible"
              [icIcon]="icVisibilityOff"
            ></mat-icon>
          </button>
          <mat-hint class="eye-hint"
            >Click the eye to toggle visibility</mat-hint
          >
          <mat-error
            class="no-valid"
            *ngIf="form.get('password').hasError('required')"
            >We need a password to log you in
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-checkbox class="caption" color="primary">Remember Me</mat-checkbox>
        <a [routerLink]="['/forgot-password']" class="caption"
          >Forgot Password?</a
        >
      </div>

      <button (click)="send()" color="primary" mat-raised-button type="submit">
        SIGN IN
      </button>
    </div>
  </div>
</div>
