.mat-icon-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.option-img {
  margin-right: 5px;
  max-width: 30px;
  object-fit: cover;
  display: inline;
}
