<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['cash-management', 'banks']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [showRowLines]="true" [dataSource]="dataSource" keyExpr="Id" [columnAutoWidth]="true"
                [wordWrapEnabled]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)">
                <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                    [useIcons]="true">
                    <dxo-form [labelLocation]="'top'" [showColonAfterLabel]="false">
                        <dxi-item dataField="FullName">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="ShortName">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item itemType="group" caption="General">
                            <dxi-item dataField="Code">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="CorrespondentAccountCode">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="SWIFTCode">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="TIN">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" caption="Address & Contact">
                            <dxi-item dataField="Email"></dxi-item>
                            <dxi-item dataField="Website"></dxi-item>
                            <dxi-item dataField="Address"></dxi-item>
                            <dxi-item dataField="Contact"></dxi-item>
                        </dxi-item>
                        <dxi-item dataField="Note"></dxi-item>
                    </dxo-form>
                </dxo-editing>
                <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-paging [enabled]="true" [pageSize]="25"> </dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 75]" [showInfo]="true">
                </dxo-pager>
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="Code" caption="{{'code' | translate}}" [filterOperations]="['startswith']">
                </dxi-column>

                <dxi-column dataField="FullName" caption="{{'full-name' | translate}}" [visible]="false"
                    [filterOperations]="['contains']">
                </dxi-column>

                <dxi-column dataField="ShortName" caption="{{'short-name' | translate}}"
                    [filterOperations]="['contains']">
                </dxi-column>

                <dxi-column dataField="SWIFTCode" [allowFiltering]="false"> </dxi-column>

                <dxi-column dataField="Email" [allowFiltering]="false" [visible]="false"> </dxi-column>

                <dxi-column dataField="Website" [allowFiltering]="false" [visible]="false"> </dxi-column>

                <dxi-column dataField="Address" [allowFiltering]="false" [visible]="false"> </dxi-column>

                <dxi-column dataField="Contact" [allowFiltering]="false" [visible]="false"> </dxi-column>

                <dxi-column dataField="CorrespondentAccountCode" [allowFiltering]="false" [visible]="false">
                </dxi-column>

                <dxi-column dataField="TIN" [allowFiltering]="false"> </dxi-column>

                <dxi-column dataField="Note" [allowFiltering]="false" [visible]="false">
                    <dxo-form-item [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 100 }">
                    </dxo-form-item>
                </dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>