<vex-page-layout>
  <vex-page-layout-content>
    <div class="card overflow-auto">
      <vex-card-header [crumbs]="['inventory', 'items']"></vex-card-header>
      <hub-data-grid
        [dataSource]="dataSource"
        [columns]="columns"
        [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize"
        paginatorText="Səhifə başına element sayı:"
        emptyDataText="Məlumat yoxdur"
        name="item"
        [search]="true"
        [selectRow]="true"
        [actions]="true"
        [insert]="true"
        [paginatorShow]="true"
        (onInsert)="openDialog($event)"
        (onRemove)="deleteItem($event)"
        (onEdit)="updateItem($event)"
        (onDblClick)="dblClick($event)"
        (onSelectedDelete)="selectRow($event)"
      >
        <ng-template let-label="label" let-item="item">
          <ng-container [ngSwitch]="label">
            <ng-container *ngSwitchCase="'Code'">{{ item.Code }}</ng-container>
            <ng-container *ngSwitchCase="'Description'">
              {{ item.Description }}
            </ng-container>
            <ng-container *ngSwitchCase="'Type'">
              {{ item.Type }}
            </ng-container>
            <ng-container *ngSwitchCase="'BaseUnitOfMeasure'">
              {{ item.BaseUnitOfMeasure }}
            </ng-container>
            <ng-container *ngSwitchCase="'UnitCost'">
              {{ item.UnitCost }}
            </ng-container>
            <ng-container *ngSwitchCase="'UnitPrice'">
              {{ item.UnitPrice }}
            </ng-container>
          </ng-container>
        </ng-template>
      </hub-data-grid>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
