table {
  width: 100%;
}

ul {
  list-style: none;
}
.page-name {
  font: 500 16px/26px var(--font);
  letter-spacing: -0.014em;
}
.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  line-height: 0px;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  font-size: 12px;
}

.link-color {
  color: rgb(var(--color-primary)) !important;
}

.bar-item {
  color: rgb(var(--color-bar));
  margin-right: 16px;
}

.bar-item:last-child,
.bar-item.btn {
  margin-right: 0px;
}

.bar-item button {
  padding: 0px 8px;
}
.icons {
  color: var(--toolbar-icon-color);
  cursor: pointer;
}

.nav-header-color {
  color: rgb(var(--color-bar));
}

.menu-left-bar {
  color: rgb(var(--color-primary-menu-text));
  cursor: pointer;
}

.divide-y {
  border-left: 1px solid rgb(var(--color-border-line));
  border-right: 1px solid rgb(var(--color-border-line));
  margin: 0px 14px;
}
