<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'candidate']"></vex-breadcrumbs>
                </h2>
            </div>

            <mat-tab-group>
                <mat-tab label="General">
                    <mat-accordion [multi]="true">
                        <mat-expansion-panel [expanded]='true'>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    General
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <dx-form [formData]="dataSource" [showColonAfterLabel]="false" [labelLocation]="'top'">
                                <dxi-item itemType="group" [colCount]="4">
                                    <dxi-item [editorOptions]="{ readOnly: true }" dataField="Code"></dxi-item>
                                    <dxi-item dataField="Firstname">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item dataField="Middlename"></dxi-item>
                                    <dxi-item dataField="Lastname">
                                        <dxi-validation-rule type="required"></dxi-validation-rule>
                                    </dxi-item>
                                </dxi-item>
                                <dxi-item itemType="group" [colCount]="4">
                                    <dxi-item dataField="EmploymentTypeId" [label]="{ text: 'Employment Type' }"
                                        editorType="dxSelectBox" [editorOptions]="EmploymentTypeEditorOptions">
                                        <dxi-validation-rule type="required"> </dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item dataField="Experience" [label]="{text: 'Experience (year)'}"
                                        editorType="dxNumberBox"
                                        [editorOptions]="{ value: 1, showSpinButtons: true, mode: 'number', min: 1, max: 33 }">
                                    </dxi-item>
                                    <dxi-item dataField="GenderId" [label]="{text: 'Gender'}" editorType="dxSelectBox"
                                        [editorOptions]="GenderEditorOptions">
                                        <dxi-validation-rule type="required">
                                        </dxi-validation-rule>
                                    </dxi-item>
                                    <dxi-item dataField="SourceId" [label]="{text: 'Source'}" editorType="dxSelectBox"
                                        [editorOptions]="SourceEditorOptions">
                                        <dxi-validation-rule type="required">
                                        </dxi-validation-rule>
                                    </dxi-item>
                                </dxi-item>
                                <dxi-item dataField="EducationDegrees" [label]="{ text: 'Education Degree' }"
                                    editorType="dxTagBox" [editorOptions]="EducationDegreeEditorOptions">
                                </dxi-item>
                                <dxi-item [editorOptions]="{ height: 100 }" dataField="Note" editorType="dxTextArea">
                                </dxi-item>
                            </dx-form>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    More Details
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <dx-form [formData]="dataSource" [showColonAfterLabel]="false" [labelLocation]="'top'">
                                <dxi-item itemType="group" [colCount]="4">
                                    <dxi-item dataField="IDNumber" [label]="{text: 'ID Number'}"></dxi-item>
                                    <dxi-item dataField="MaritalStatusId" [label]="{text: 'Marital Status'}"
                                        editorType="dxSelectBox" [editorOptions]="MaritalStatusEditorOptions">
                                    </dxi-item>
                                    <dxi-item itemType="group">
                                        <dxi-item dataField="MilitaryStatusId" [label]="{text: 'Military Status'}"
                                            editorType="dxSelectBox" [editorOptions]="MilitaryStatusEditorOptions">
                                        </dxi-item>
                                    </dxi-item>
                                    <dxi-item itemType="group">
                                        <dxi-item dataField="DrivingCategories" [label]="{text: 'Driving Category'}"
                                            editorType="dxTagBox" [editorOptions]="DrivingCategoryEditorOptions">
                                        </dxi-item>
                                    </dxi-item>
                                </dxi-item>
                                <dxi-item itemType="group" [colCount]="4">
                                    <dxi-item dataField="CitizenshipId" [label]="{text: 'Citizenship'}"
                                        editorType="dxSelectBox" [editorOptions]="CitizenshipEditorOptions">
                                    </dxi-item>
                                    <dxi-item dataField="BirthCountryId" [label]="{text: 'Birth Country'}"
                                        editorType="dxSelectBox" [editorOptions]="BirthCountryEditorOptions">
                                    </dxi-item>
                                    <dxi-item dataField="BirthCityId" [label]="{text: 'Birth City'}"
                                        editorType="dxSelectBox" [editorOptions]="BirthCityEditorOptions">
                                    </dxi-item>
                                    <dxi-item dataField="BirthDate" [editorOptions]="BirthDateEditorOptions"
                                        editorType="dxDateBox">
                                    </dxi-item>
                                </dxi-item>
                            </dx-form>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Contacts
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <dx-form [showColonAfterLabel]="false" [labelLocation]="'top'">
                                <dxi-item>
                                    <dx-data-grid [dataSource]="dsCandidateJoinContacts" keyExpr="Id"
                                        [showBorders]="true" (onRowInserted)="onRowInserted()">
                                        <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true"
                                            [allowDeleting]="true" [useIcons]="true">
                                        </dxo-editing>
                                        <dxi-column dataField="ContactTypeId" caption="Contact Type">
                                            <dxo-lookup [dataSource]="dsContactTypes" valueExpr="Id" displayExpr="Name">
                                            </dxo-lookup>
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dxi-column>
                                        <dxi-column dataField="Contact">
                                            <dxi-validation-rule type="required"></dxi-validation-rule>
                                        </dxi-column>
                                    </dx-data-grid>
                                </dxi-item>
                            </dx-form>
                        </mat-expansion-panel>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Skills and Languages
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <dx-form [showColonAfterLabel]="false" [labelLocation]="'top'">
                                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }"
                                    [colCount]="1">
                                    <dxi-tab title="Skills">
                                        <dx-tag-box [dataSource]="dsSkills" valueExpr="Id" grouped="true"
                                            displayExpr="Name" [(value)]="dataSource['Skills']" searchEnabled="true"
                                            [hideSelectedItems]="true">
                                        </dx-tag-box>
                                    </dxi-tab>
                                </dxi-item>
                                <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }"
                                    [colCount]="1">
                                    <dxi-tab title="Languages">
                                        <dx-data-grid [dataSource]="dsSelectedLanguages" keyExpr="Id"
                                            [showBorders]="true">
                                            <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true"
                                                [allowDeleting]="true" [useIcons]="true">
                                            </dxo-editing>
                                            <dxi-column dataField="LanguageId" caption="Name">
                                                <dxo-lookup [dataSource]="dsLanguages" valueExpr="Id"
                                                    displayExpr="Name">
                                                </dxo-lookup>
                                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                            </dxi-column>
                                            <dxi-column dataField="Reading" dataType="boolean"> </dxi-column>
                                            <dxi-column dataField="Writing" dataType="boolean"> </dxi-column>
                                            <dxi-column dataField="Speaking" dataType="boolean"> </dxi-column>
                                            <dxi-column dataField="Listening" dataType="boolean"> </dxi-column>
                                        </dx-data-grid>
                                    </dxi-tab>
                                </dxi-item>
                            </dx-form>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <dx-button style="float: right; margin: 20px 20px 20px;" stylingMode="contained" text="Submit"
                        type="success" [width]="200" (onClick)="approve()">
                    </dx-button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>