<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'exam-candidate']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dataSource" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                            <dxi-item dataField="Code" [editorOptions]="{ readOnly: true }">
                            </dxi-item>
                            <dxi-item>
                                <label>Exam</label>
                                <dx-drop-down-box #exam [deferRendering]="false" placeholder="Select an exam..."
                                    style="margin-bottom: 15px;" [dataSource]="dsExams" [(value)]="selectedExam"
                                    [displayValueFormatter]="exams_displayValueFormatter">
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-data-grid [dataSource]="dsExams" [hoverStateEnabled]="true" height="100%"
                                            width="100%" [scrolling]="{ mode: 'infinite' }" [columnAutoWidth]="true"
                                            [showBorders]="true" (onRowDblClick)="gvExams_rowDblClick()"
                                            [(selectedRowKeys)]="selectedExam">
                                            <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="Code"> </dxi-column>
                                            <dxi-column dataField="ExamType" caption="Type"> </dxi-column>
                                            <dxi-column dataField="Language"> </dxi-column>
                                            <dxi-column dataField="Name"> </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </dx-drop-down-box>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group">
                            <dxi-item itemType="tabbed" #tabCandidate [tabPanelOptions]="{ deferRendering: false }">
                                <dxi-tab title="Candidate" [disabled]="!!(selectedEmployee && selectedEmployee[0])">
                                    <dx-drop-down-box #candidate [deferRendering]="false"
                                        placeholder="Select an candidate..." style="margin-bottom: 15px;"
                                        [showClearButton]="true" [dataSource]="dsCandidates"
                                        [(value)]="selectedCandidate"
                                        [displayValueFormatter]="candidates_displayValueFormatter">
                                        <div *dxTemplate="let data of 'content'">
                                            <dx-data-grid [dataSource]="dsCandidates" [hoverStateEnabled]="true"
                                                height="100%" width="100%" [showBorders]="true" [columnAutoWidth]="true"
                                                (onRowDblClick)="gvCandidates_rowDblClick()"
                                                [(selectedRowKeys)]="selectedCandidate">
                                                <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                <dxo-selection mode="single"></dxo-selection>
                                                <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                                <dxi-column dataField="Code"> </dxi-column>
                                                <dxi-column dataField="Firstname"> </dxi-column>
                                                <dxi-column dataField="Lastname"> </dxi-column>
                                                <dxi-column dataField="Gender"> </dxi-column>
                                                <dxi-column dataField="Source"> </dxi-column>
                                            </dx-data-grid>
                                        </div>
                                    </dx-drop-down-box>
                                </dxi-tab>
                                <dxi-tab #tabEmployee title="Employee"
                                    [disabled]="!!(selectedCandidate && selectedCandidate[0])">
                                    <dx-drop-down-box #employee [deferRendering]="false"
                                        placeholder="Select an employee..." style="margin-bottom: 15px;"
                                        [dataSource]="dsEmployees" [(value)]="selectedEmployee" [showClearButton]="true"
                                        [displayValueFormatter]="employees_displayValueFormatter">
                                        <div *dxTemplate="let data of 'content'">
                                            <dx-data-grid [dataSource]="dsEmployees" [hoverStateEnabled]="true"
                                                height="100%" width="100%" [showBorders]="true" [columnAutoWidth]="true"
                                                (onRowDblClick)="gvEmployees_rowDblClick()"
                                                [(selectedRowKeys)]="selectedEmployee">
                                                <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                <dxo-selection mode="single"></dxo-selection>
                                                <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                                <dxi-column dataField="Code"> </dxi-column>
                                                <dxi-column dataField="Firstname"> </dxi-column>
                                                <dxi-column dataField="Middlename"> </dxi-column>
                                                <dxi-column dataField="Lastname"> </dxi-column>
                                                <dxi-column dataField="Position"> </dxi-column>
                                            </dx-data-grid>
                                        </div>
                                    </dx-drop-down-box>
                                </dxi-tab>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item dataField="ShowResult" editorType="dxCheckBox">
                            <dxo-label location="left" alignment="right">
                            </dxo-label>
                        </dxi-item>
                        <dxi-item [editorOptions]="{ height: 100 }" dataField="Note" editorType="dxTextArea">
                        </dxi-item>
                        <dxi-item>
                            <dx-button style="float: right; margin: 20px 20px 20px;" stylingMode="contained"
                                text="Submit" type="success" [width]="200" (onClick)="approve()">
                            </dx-button>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>