<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'departments']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-tree-list [showRowLines]="true" [dataSource]="dataSource" keyExpr="Id" parentIdExpr="ParentId"
                [columnAutoWidth]="true" [wordWrapEnabled]="true" [showBorders]="true"
                (onRowInserting)="onRowInserting($event)" (onRowRemoving)="onRowRemoving($event)"
                (onRowUpdating)="onRowUpdating($event)">
                <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true">
                </dxo-editing>
                <dxi-column dataField="Id" [visible]="false"></dxi-column>
                <dxi-column dataField="ParentId" [visible]="false"></dxi-column>
                <dxi-column dataField="Name">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
                <dxi-column dataField="StructureId" caption="Structure">
                    <dxo-lookup [dataSource]="structuresDataSource" valueExpr="Id" displayExpr="Name">
                    </dxo-lookup>
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
            </dx-tree-list>
        </div>
    </vex-page-layout-content>
</vex-page-layout>