::ng-deep #form-container {
    margin-top: 30px;
    margin-bottom: 60px;
}

::ng-deep #form {
    padding: 0 20px;
}

.file-upload {
    display: none;
}

.upload-btn {
    width: 100%;
}

::ng-deep .dx-field-item-label-content .dx-field-item-label-text {
    font-size: 15px;
    line-height: 14px;
}

::ng-deep .profile-photo {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 140px;
    object-fit: cover;
}


/* 
@media(max-width:792px) {
     ::ng-deep .profile-photo {
        object-fit: contain;
    }
} */