<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'reasons']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [dataSource]="dataSource" keyExpr="Id" [showBorders]="true"
                (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)">
                <dxo-editing mode="row" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                    [useIcons]="true">
                </dxo-editing>
                <dxi-column dataField="Name">
                    <dxi-validation-rule type="required"></dxi-validation-rule>
                </dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>