<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'exam']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dataSource" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="3">
                            <dxi-item dataField="Code" [editorOptions]="{ readOnly: true }">
                            </dxi-item>
                            <dxi-item dataField="Name">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="ExamTypeId" [label]="{ text: 'Type' }"
                                [editorOptions]="examTypesEditorOptions" editorType="dxSelectBox">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" [colCount]="3">
                            <dxi-item dataField="LanguageId" [label]="{ text: 'Language' }" editorType="dxSelectBox"
                                [editorOptions]="languageEditorOptions">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="Duration" [label]="{ text: 'Duration (minute)' }"
                                [editorOptions]="durationEditorOptions" editorType="dxNumberBox">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="RequiredScore" [editorOptions]="requiredScoreEditorOptions"
                                editorType="dxNumberBox">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item [editorOptions]="{ height: 100 }" dataField="Note" editorType="dxTextArea">
                        </dxi-item>
                        <dxi-item>
                            <dx-button style="float: right; margin: 20px 20px 20px;" stylingMode="contained"
                                text="Submit" type="success" [width]="200" (onClick)="approve()">
                            </dx-button>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
                <mat-tab *ngIf="Id!=0" label="Rules">
                    <dx-form style="margin: 30px;">
                        <dxi-item>
                            <dx-list [showSelectionControls]="true" [dataSource]="dsRules" keyExpr="Id"
                                selectionMode="multiple" [(selectedItemKeys)]="selectedItems"
                                (onSelectionChanged)="onSelectionChanged($event)">
                                <div *dxTemplate="let data of 'item'">
                                    <div>{{data.Name}}</div>
                                </div>
                            </dx-list>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
                <mat-tab *ngIf="Id!=0" label="Questions">
                    <dx-form style="margin: 30px;" [showColonAfterLabel]="false" [labelLocation]="'top'">
                        <dxi-item itemType="group">
                            <dxi-item>
                                <label>Question</label>
                                <dx-drop-down-box #question [deferRendering]="false" placeholder="Select an question..."
                                    style="margin-bottom: 15px;" [dataSource]="dsQuestions" [(value)]="selectedQuestion"
                                    [displayValueFormatter]="questions_displayValueFormatter">
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-data-grid [dataSource]="dsQuestions" [hoverStateEnabled]="true"
                                            height="100%" width="100%" [showBorders]="true"
                                            (onRowDblClick)="gvQuestions_rowDblClick($event)"
                                            [(selectedRowKeys)]="selectedQuestion">
                                            <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="Code"> </dxi-column>
                                            <dxi-column dataField="QuestionType"> </dxi-column>
                                            <dxi-column dataField="QuestionGroup"> </dxi-column>
                                            <dxi-column dataField="Name"> </dxi-column>
                                            <dxi-column dataField="Duration" [allowFiltering]="false"> </dxi-column>
                                            <dxi-column dataField="Score" [allowFiltering]="false"> </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </dx-drop-down-box>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                            <dxi-tab title="Selected Questions">
                                <dx-data-grid [showBorders]="true" [dataSource]="dsSelectedQuestions"
                                    [hoverStateEnabled]="true" height="100%" width="100%" [showBorders]="true"
                                    (onRowRemoved)="onRowRemoved($event)" (onRowUpdated)="onRowUpdated($event)">
                                    <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true"
                                        [useIcons]="true">
                                    </dxo-editing>
                                    <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                    <dxi-column dataField="Code" [allowEditing]="false"> </dxi-column>
                                    <dxi-column dataField="QuestionType" [allowEditing]="false"> </dxi-column>
                                    <dxi-column dataField="QuestionGroup" [allowEditing]="false"> </dxi-column>
                                    <dxi-column dataField="Name" [allowEditing]="false"> </dxi-column>
                                    <dxi-column dataField="Duration" [allowEditing]="false"> </dxi-column>
                                    <dxi-column dataField="Score" [allowEditing]="false"> </dxi-column>
                                    <dxi-column dataField="Order"> </dxi-column>
                                </dx-data-grid>
                            </dxi-tab>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>