<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['cash-management', 'bank-account']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [showRowLines]="true" [dataSource]="dataSource" keyExpr="Id" [columnAutoWidth]="true"
                [wordWrapEnabled]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)">
                <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                    [useIcons]="true">
                    <dxo-form [labelLocation]="'top'" [showColonAfterLabel]="false">
                        <dxi-item dataField="BankId" [colSpan]="2">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="BankAccountNumber" [editorOptions]="{ mask: '0000-0000-0000-0000' }">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="CurrencyCode">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-item>
                        <dxi-item dataField="Note"></dxi-item>
                    </dxo-form>
                </dxo-editing>
                <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-paging [enabled]="true" [pageSize]="25"> </dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 75]" [showInfo]="true">
                </dxo-pager>
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="BankId" caption="{{'bank' | translate}}" [filterOperations]="['startswith']">
                    <dxo-lookup [dataSource]="dsBanks" valueExpr="Id" displayExpr="ShortName">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="BankAccountNumber" caption="{{'bank-account-number' | translate}}"
                    [filterOperations]="['contains']">
                </dxi-column>

                <dxi-column dataField="CurrencyCode" caption="{{'currency-code' | translate}}" [allowFiltering]="false"
                    [filterOperations]="['contains']">
                </dxi-column>

                <dxi-column dataField="Note" caption="{{'note' | translate}}" [allowFiltering]="false"
                    [visible]="false">
                    <dxo-form-item [colSpan]="2" editorType="dxTextArea" [editorOptions]="{ height: 100 }">
                    </dxo-form-item>
                </dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>