:host {
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 16px;
}
.bar-item {
  color: rgb(var(--color-primary));
  margin: 8px 0px;
  padding: 0 8px;
  :first-of-type {
    padding-left: 0;
  }
  :last-of-type {
    padding-right: 0;
  }
}
