<vex-applcation-bar *ngIf="(isVerticalLayout$ | async) && isNavbarBelowToolbar$ | async" [fxHide]="mobileQuery">
</vex-applcation-bar>

<div class="navigation-menu w-full" fxLayout="row" fxLayoutAlign="space-between center"
    [class.container]="layoutCtrl.value === 'boxed'" [class.px-gutter]="layoutCtrl.value === 'fullwidth'">
    <button (click)="openSidenav()" [fxHide]="!mobileQuery" mat-icon-button type="button" class="bar-icon">
        <mat-icon [icIcon]="icMenu"></mat-icon>
    </button>
    <a *ngIf="isVerticalLayout$ | async" class="block divide-r" fxLayout="row" fxLayoutAlign="start center">
        <h1 [fxHide]="mobileQuery" class="company-name title  select-none">COMPANY</h1>
    </a>
    <div *ngIf="(isVerticalLayout$ | async) && isNavbarInToolbar$ | async" [fxHide]="mobileQuery" fxFlex="none"
        fxLayout="row" fxLayoutAlign="start center">
        <vex-navigation-item *ngFor="let item of navigationItems" [item]="item"></vex-navigation-item>
    </div>
    <a *ngIf="isVerticalLayout$ | async" class="rtl:ml-4 block divide-l" fxLayout="row" fxLayoutAlign="start center">
        <span [fxHide]="mobileQuery"
            class="menu-left-bar title flex align-center ltr:pl-4 rtl:pr- m-0 select-none"><span
                class="material-icons">view_headline </span></span>
    </a>
</div>