:host {
  box-sizing: border-box;
  color: var(--toolbar-color);
  display: block;
  white-space: nowrap;
  width: 100%;
  z-index: var(--toolbar-z-index);
}

.bar-icon {
  color: rgb(var(--color-primary-menu-text));
  position: relative;
  width: auto !important;
}
.company-name {
  color: rgb(var(--color-company-name));
}

.menu-left-bar {
  color: var(--toolbar-icon-color);
  cursor: pointer;
}

.divide-r {
  border-right: 1px solid rgb(var(--color-primary-menu-text));
  padding-right: 16px;
  margin-right: 14px;
}

.divide-l {
  border-left: 1px solid rgb(var(--color-primary-menu-text));
  margin-left: 4px;
}
