<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'probation-period']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dsProbationPeriod" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="2">
                            <dxi-item [editorOptions]="{ readOnly: true }" dataField="Code">
                            </dxi-item>
                            <dxi-item dataField="StatusId" [label]="{ text: 'Status' }"
                                [editorOptions]="statusEditorOptions" editorType="dxSelectBox">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item>
                            <label>Employee</label>
                            <dx-drop-down-box #employee [deferRendering]="false" [readOnly]="IsReadOnly"
                                placeholder="Select an employee..." [dataSource]="dsEmployees"
                                [(value)]="selectedEmployee" [displayValueFormatter]="employees_displayValueFormatter">
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid [dataSource]="dsEmployees" [hoverStateEnabled]="true" height="100%"
                                        width="100%" [showBorders]="true" (onRowDblClick)="gvEmployees_rowDblClick()"
                                        [(selectedRowKeys)]="selectedEmployee">
                                        <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                                        <dxo-selection mode="single"></dxo-selection>
                                        <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                        <dxi-column dataField="Code"> </dxi-column>
                                        <dxi-column dataField="Firstname"> </dxi-column>
                                        <dxi-column dataField="Middlename"> </dxi-column>
                                        <dxi-column dataField="Lastname"> </dxi-column>
                                        <dxi-column dataField="Position"> </dxi-column>
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </dxi-item>
                        <dxi-item>
                            <label>Approval Employee</label>
                            <dx-drop-down-box #approvalEmployee [deferRendering]="false" [readOnly]="IsReadOnly"
                                placeholder="Select an employee..." [dataSource]="dsApprovalEmployees"
                                [(value)]="selectedApprovalEmployee"
                                [displayValueFormatter]="approvalEmployees_displayValueFormatter">
                                <div *dxTemplate="let data of 'content'">
                                    <dx-data-grid [dataSource]="dsApprovalEmployees" [hoverStateEnabled]="true"
                                        height="100%" width="100%" [showBorders]="true"
                                        (onRowDblClick)="gvApprovalEmployees_rowDblClick()"
                                        [(selectedRowKeys)]="selectedApprovalEmployee">
                                        <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                        <dxo-filter-row [visible]="true"></dxo-filter-row>
                                        <dxo-selection mode="single"></dxo-selection>
                                        <dxi-column dataField="UserId" [visible]="false"> </dxi-column>
                                        <dxi-column dataField="Username"> </dxi-column>
                                        <dxi-column dataField="Code"> </dxi-column>
                                        <dxi-column dataField="Firstname"> </dxi-column>
                                        <dxi-column dataField="Middlename"> </dxi-column>
                                        <dxi-column dataField="Lastname"> </dxi-column>
                                        <dxi-column dataField="Position"> </dxi-column>
                                    </dx-data-grid>
                                </div>
                            </dx-drop-down-box>
                        </dxi-item>
                        <dxi-item itemType="group" [colCount]="2">
                            <dxi-item dataField="StartDate" editorType="dxDateBox" [editorOptions]="dateEditorOptions">
                            </dxi-item>
                            <dxi-item dataField="EndDate" editorType="dxDateBox" [editorOptions]="dateEditorOptions">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item [editorOptions]="ReadOnlyEditorOptions" dataField="Note" editorType="dxTextArea">
                        </dxi-item>
                    </dx-form>
                    <dx-button style="float: right; margin: 20px 20px 20px;" stylingMode="contained" text="Submit"
                        type="success" [width]="200" (onClick)="approve()">
                    </dx-button>
                </mat-tab>
                <mat-tab *ngIf="Id != 0" label="Evaluation">
                    <dx-form style="margin: 30px;" [showColonAfterLabel]="false" [labelLocation]="'top'">
                        <dxi-item>
                            <div>
                                <p style="text-align: center;">
                                    <b>Sınaq müddətinin ümumi qiymətləndirilməsi</b>
                                </p>
                                <br>
                                <p>
                                    <b>
                                        Qiymətləndirmə meyarları və izahı:
                                    </b>
                                    Qiymətləndirmə 4 ballı sistemlə aparılır.
                                </p>
                                <p>
                                    <b>"0"</b> – Qiymətləndirilən işçinin vəzifəsi qiymətləndirilən meyara uyğun
                                    deyil;
                                </p>
                                <p>
                                    <b>"1" - Qeyri-qənaətbəxş</b> - Vəzifənin əsas məqsəd və tələblərinə cavab
                                    vermir;
                                </p>
                                <p>
                                    <b>"2" - Gözlənitidən aşağı</b> - Vəzifənin əsas məqsəd və tələblərinə qismən
                                    cavab verir. İş fəaliyyətini təkmilləşdirmək üçün ciddi inkişafa ehtiyacı var;
                                </p>
                                <p>
                                    <b>"3"- Gözləntiyə uyğun</b> - Vəzifənin əsas məqsəd və tələblərinə cavab verir.
                                    Heyət üzvü olaraq öz vəzifə öhdəliklərini effektiv icra edir;
                                </p>
                                <p>
                                    <b>"4" - Gözləntidən artıq</b> - Vəzifənin əsas məqsəd və tələblərinə tam cavab
                                    verir və onu ötüb keçir.
                                </p>
                                <br>
                                <p>
                                    <i>
                                        Sinaq dövrünün qiymətləndirilməsi üzrə qərar üçün ümumi balların ortalama
                                        qiymətinə əsasən (ümumi balların cəmi meyarları sayına bölünür) ballar üzrə
                                        nəticələr hesablanılır. Rəhbər vəzifələr üzrə qiymətləndirmə 12 meyar (1-dən
                                        12-dək) üzərindən, digər bütün işçilər isə 8 (1-dən 8-dək) meyar üzərindən
                                        qiymətləndirilir. Qiymıətləndirmə qərarı üçün balların orta nəticəsi:
                                    </i>
                                </p>
                                <br>
                                <p>
                                    <b>Rəhbər vəzifəli işçilər üçün</b> "0" - "2.5" olarsa sınaq müddətini keçmir;
                                    "2.6" - "4" olarsa sınaq müddətini keçir kimi dəyərləndirilir.
                                </p>
                                <p>
                                    <b>Digər işçilər üçün</b> "0" - "1.9" olarsa sınaq müddətini keçmir; "2" - "4"
                                    olarsa sınaq müddətini keçir kimi dəyərləndirilir.
                                </p>
                                <br><br><br>
                            </div>
                        </dxi-item>
                        <dxi-item>
                            <dx-data-grid [dataSource]="dsSkills" keyExpr="Id" [showBorders]="true"
                                [focusedRowEnabled]="true" (onRowUpdating)="onRowUpdating($event)"
                                (onFocusedRowChanged)="onFocusedRowChanged($event)">
                                <dxo-editing mode="row" [allowUpdating]="true" [useIcons]="true">
                                </dxo-editing>
                                <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                <dxi-column dataField="Name" [allowEditing]="false"> </dxi-column>
                                <dxi-column dataField="Note" [allowEditing]="false"> </dxi-column>
                                <dxi-column dataField="Evaluation">
                                    <dxi-validation-rule type="custom" [validationCallback]="validateEvaluation"
                                        message="The evaluation must be 0-4 range.">
                                    </dxi-validation-rule>
                                </dxi-column>
                                <dxo-summary>
                                    <dxi-total-item column="Evaluation" summaryType="sum" valueFormat="#0.0">
                                    </dxi-total-item>
                                </dxo-summary>
                            </dx-data-grid>
                            <div *ngIf="skillName" class="task-info">
                                <div class="info">
                                    <div id="taskSubject">{{skillName}}</div>
                                    <p id="taskDetails" [innerHtml]="skillNote"></p>
                                </div>
                                <div class="progress">
                                    <span id="taskStatus">Evaluation</span>
                                    <span id="taskProgress">{{skillEvaluation}}</span>
                                </div>
                            </div>
                        </dxi-item>
                        <dxi-item>
                            <div>
                                <br><br><br>
                                <p>
                                    <i>
                                        <b>
                                            Əlavə qeydlər:
                                        </b>
                                    </i>
                                </p>
                                <p>
                                    <i>
                                        1. Sınaq müddəti qurtaranadək tərəflərdən biri digərinə 3 (üç) gün əvvəl yazılı
                                        xəbərdarlıq etməklə əmək müqaviləsini poza bilər.
                                        <br>
                                        2. Sınaq müddəti müəyyən edilməyən hallar: yaşı 18-dən az olan şəxslərlə;
                                        müsabiqə yolu ilə müvafiq vəzifəni tutanlarla; hamilə və 3 (üç) yaşına çatmamış
                                        uşağı olan qadınlara, habelə 3 (üç) yaşınadək uşağını təkbaşına böyüdən
                                        kişilərə; təhsil müəssisələrini bitirdiyi ildə ixtisası (peşəsi) üzrə ilk dəfə
                                        işə götürülən şəxslərə; ödənişli seçkili vəzifəyə seçilmiş şəxslərə; iki ay
                                        müddətinədək əmək müqaviləsi bağlanılan şəxslərə; tərəflərin razılığı ilə
                                        müəyyən edilən digər hallar.
                                    </i>
                                </p>
                            </div>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>