<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['purchase', 'vendor']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-form id="form" [formData]="dsVendor" [showColonAfterLabel]="false" [labelLocation]="'top'">
                <dxi-item itemType="group" [colCount]="3">
                    <dxi-item [editorOptions]="{ readOnly: true }" dataField="Code"></dxi-item>
                    <dxi-item dataField="Name"></dxi-item>
                    <dxi-item dataField="SearchName"></dxi-item>
                </dxi-item>
                <dxi-item style="float: right;">
                    <dx-button stylingMode="contained" text="Submit" type="success" [height]="35" (onClick)="approve()">
                    </dx-button>
                </dxi-item>
            </dx-form>
        </div>
    </vex-page-layout-content>
</vex-page-layout>