<vex-page-layout>
  <vex-page-layout-content>
    <div class="card overflow-auto">
      <vex-card-header [crumbs]="['purchasing', 'blanket-purchase-orders']"></vex-card-header>
      <hub-data-grid [dataSource]="dsBlanketPurchaseOrders" [columns]="columns" [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize" paginatorText="Səhifə başına element sayı:" emptyDataText="Məlumat yoxdur"
        name="blanket-purchase-orders" [search]="true" [insert]="true" [actions]="true" [paginatorShow]="true"
        (onInsert)="insertBlanketPurchaseOrder()" (onRemove)="deleteBlanketPurchaseOrder($event)"
        (onEdit)="editBlanketPurchaseOrder($event)">
        <ng-template let-label="label" let-item="item">
          <ng-container [ngSwitch]="label">
            <ng-container *ngSwitchCase="'Code'">{{ item.Code }}</ng-container>
            <ng-container *ngSwitchCase="'DocumentDate'">{{ getDateDisplayFormat(item.DocumentDate) }}</ng-container>
            <ng-container *ngSwitchCase="'OrderDate'">{{ getDateDisplayFormat(item.OrderDate) }}</ng-container>
            <ng-container *ngSwitchCase="'DueDate'">{{ getDateDisplayFormat(item.DueDate) }}</ng-container>
            <ng-container *ngSwitchCase="'VendorShipmentNumber'">{{ item.VendorShipmentNumber }}</ng-container>
            <ng-container *ngSwitchCase="'VendorOrderNumber'">{{ item.VendorOrderNumber }}</ng-container>
            <ng-container *ngSwitchCase="'VendorCode'">{{ item.VendorCode }}</ng-container>
            <ng-container *ngSwitchCase="'VendorName'">{{ item.VendorName }}</ng-container>
            <ng-container *ngSwitchCase="'VendorSearchName'">{{ item.VendorSearchName }}</ng-container>
          </ng-container>
        </ng-template>
      </hub-data-grid>
    </div>
  </vex-page-layout-content>
</vex-page-layout>