<mat-form-field class="hub-select-field" appearance="outline">
  <input #hubDatePickerControl="ngModel" matInput [matDatepicker]="picker" [required]="required" [placeholder]="label"
    [(ngModel)]="innerValue" (blur)="onBlur($event)" (dateChange)="onDateChange($event)" [max]="maxDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>