<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['finance', 'account-card']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="{{'general' | translate}}">
                    <dx-form style="margin: 30px;" [formData]="dataSource" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="3">
                            <dxi-item [colSpan]="1">
                                <label>{{'account-category' | translate}}</label>
                                <dx-drop-down-box #category [dropDownOptions]="{ width: 600 }" [deferRendering]="false"
                                    placeholder="Select an category..." [dataSource]="dsCategories"
                                    [(value)]="selectedCategory" [showClearButton]="true"
                                    [displayValueFormatter]="categories_displayValueFormatter">
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-tree-list [dataSource]="dsCategories" [hoverStateEnabled]="true"
                                            keyExpr="Id" parentIdExpr="ParentId" [columnAutoWidth]="true" height="100%"
                                            width="100%" [showBorders]="true"
                                            (onRowDblClick)="gvCategories_rowDblClick($event)">
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                            <dxi-column dataField="ParentId" [visible]="false"> </dxi-column>
                                            <dxi-column dataField="Name"> </dxi-column>
                                        </dx-tree-list>
                                    </div>
                                </dx-drop-down-box>
                            </dxi-item>
                            <dxi-item dataField="AccountGroupCode" editorType="dxSelectBox"
                                [editorOptions]="accountGroupEditorOptions" [colSpan]="1">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <dxo-label text="{{'account-group' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="AccountTypeCode" editorType="dxSelectBox"
                                [editorOptions]="accountTypeEditorOptions" [colSpan]="1">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <dxo-label text="{{'account-type' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="Code" [colSpan]="1" [editorOptions]="{ readOnly: false }">
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                                <dxo-label text="{{'code' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="MapCode" [colSpan]="1">
                                <dxo-label text="{{'map-code' | translate}}"></dxo-label>
                            </dxi-item>
                            <dxi-item dataField="Name" [colSpan]="1">
                                <dxo-label text="{{'name' | translate}}"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="StatusCode" editorType="dxSelectBox"
                                [editorOptions]="statusEditorOptions" [colSpan]="1">
                                <dxo-label text="{{'status' | translate}}"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="BalanceTypeCode" editorType="dxSelectBox"
                                [editorOptions]="balanceTypeEditorOptions" [colSpan]="1">
                                <dxo-label text="{{'balance-type' | translate}}"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                            <dxi-item dataField="TransactionTypeCode" editorType="dxSelectBox"
                                [editorOptions]="transactionTypeEditorOptions" [colSpan]="1">
                                <dxo-label text="{{'transaction-type' | translate}}"></dxo-label>
                                <dxi-validation-rule type="required"></dxi-validation-rule>
                            </dxi-item>
                        </dxi-item>

                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }" [colCount]="1">
                            <dxi-tab title="{{'dimension-groups' | translate}}">
                                <dxi-item>
                                    <label>{{'dimension-group' | translate}}</label>
                                    <dx-drop-down-box #dimensionGroup [deferRendering]="false"
                                        placeholder="Select an dimension group..." [dataSource]="dsDimensionGroups"
                                        [(value)]="selectedDimensionGroup"
                                        [displayValueFormatter]="dimensionGroups_displayValueFormatter">
                                        <div *dxTemplate="let data of 'content'">
                                            <dx-data-grid [dataSource]="dsDimensionGroups" [hoverStateEnabled]="true"
                                                keyExpr="Id" [columnAutoWidth]="true" height="100%" width="100%"
                                                [showBorders]="true"
                                                (onRowDblClick)="gvDimensionGroups_rowDblClick($event)">
                                                <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                <dxo-selection mode="single"></dxo-selection>
                                                <dxi-column dataField="Code" caption="{{'code' | translate}}">
                                                </dxi-column>
                                                <dxi-column dataField="Name" caption="{{'name' | translate}}">
                                                </dxi-column>
                                            </dx-data-grid>
                                        </div>
                                    </dx-drop-down-box>
                                </dxi-item>
                                <dxi-item>
                                    <dx-data-grid [showRowLines]="true" [dataSource]="dsSelectedDimensionGroups"
                                        keyExpr="Id" [columnAutoWidth]="true" [wordWrapEnabled]="true"
                                        [showBorders]="true" [rowAlternationEnabled]="true">
                                        <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true"
                                            [useIcons]="true">
                                        </dxo-editing>
                                        <dxi-column dataField="Code" caption="{{'code' | translate}}"
                                            [allowEditing]="false"> </dxi-column>
                                        <dxi-column dataField="Name" caption="{{'name' | translate}}"
                                            [allowEditing]="false"> </dxi-column>
                                        <dxi-column dataField="PostType" caption="{{'post-type' | translate}}">
                                            <dxo-lookup [dataSource]="dimensionPostTypeDataSource" valueExpr="Code"
                                                displayExpr="Name">
                                            </dxo-lookup>
                                        </dxi-column>
                                        <dxi-column dataField="AnalysisDimensionId"
                                            caption="{{'analysis-dimension' | translate}}"
                                            editCellTemplate="analysisDimensionTemplate">
                                        </dxi-column>

                                        <div *dxTemplate="let tempAnalysisDimension of 'analysisDimensionTemplate'">
                                            <div *ngIf="checkDimensionGroupsRowExpanded(tempAnalysisDimension.key)">
                                                <dx-drop-down-box [showClearButton]="true"
                                                    placeholder="Select an analysis dimension..."
                                                    [dataSource]="analysisDimensionsMap[tempAnalysisDimension.key]"
                                                    [(value)]="selectedAnalysisDimensionMap[tempAnalysisDimension.key]"
                                                    [displayValueFormatter]="analysisDimensions_displayValueFormatter"
                                                    [(opened)]="dimensionGroupsIsOpened[tempAnalysisDimension.key]">
                                                    <div *dxTemplate="let data of 'content'">
                                                        <dx-tree-list
                                                            [dataSource]="analysisDimensionsMap[tempAnalysisDimension.key]"
                                                            [hoverStateEnabled]="true" keyExpr="Id"
                                                            parentIdExpr="ParentId" [columnAutoWidth]="true"
                                                            height="100%" width="100%" [autoExpandAll]="true"
                                                            [showBorders]="true"
                                                            (onRowDblClick)="getAnalysisDimensions_rowDblClick($event)">
                                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                                            <dxo-selection mode="single"></dxo-selection>
                                                            <dxi-column dataField="Code"
                                                                caption="{{'code' | translate}}">
                                                            </dxi-column>
                                                            <dxi-column dataField="Name"
                                                                caption="{{'name' | translate}}">
                                                            </dxi-column>
                                                        </dx-tree-list>
                                                    </div>
                                                </dx-drop-down-box>
                                            </div>
                                        </div>
                                    </dx-data-grid>
                                </dxi-item>
                            </dxi-tab>
                        </dxi-item>
                    </dx-form>
                    <dx-button style="float: right; margin: 30px;" stylingMode="contained"
                        text="{{'submit' | translate}}" type="success" [width]="150" (onClick)="approve()">
                    </dx-button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>