<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'job-offer']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dataSource" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="4">
                            <dxi-item [editorOptions]="{ readOnly: true }" dataField="Code">
                            </dxi-item>
                            <dxi-item [colSpan]="3">
                                <label>Application</label>
                                <dx-drop-down-box #application [deferRendering]="false"
                                    placeholder="Select an application..." [dataSource]="dsApplication"
                                    [(value)]="selectedApplication"
                                    [displayValueFormatter]="applications_displayValueFormatter">
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-data-grid [dataSource]="dsApplication" [hoverStateEnabled]="true"
                                            height="100%" width="100%" [scrolling]="{ mode: 'infinite' }"
                                            [columnAutoWidth]="true" [showBorders]="true"
                                            (onRowDblClick)="gvApplications_rowDblClick()"
                                            [(selectedRowKeys)]="selectedApplication">
                                            <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                            <dxi-column dataField="Code"> </dxi-column>
                                            <dxi-column dataField="EmployeeDemandCode"> </dxi-column>
                                            <dxi-column dataField="Department"> </dxi-column>
                                            <dxi-column dataField="Position"> </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </dx-drop-down-box>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" [colCount]="4">
                            <dxi-item dataField="Amount" editorType="dxNumberBox"
                                [editorOptions]="{ format: '#0 AZN' }">
                            </dxi-item>
                            <dxi-item dataField="StatusId" [label]="{text: 'Status'}"
                                [editorOptions]="statusEditorOptions" editorType="dxSelectBox">
                            </dxi-item>
                            <dxi-item dataField="OfferDate" editorType="dxDateBox">
                            </dxi-item>
                            <dxi-item dataField="OfferExpirationDate" editorType="dxDateBox">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item [editorOptions]="{ height: 100 }" dataField="Note" editorType="dxTextArea"></dxi-item>
                    </dx-form>
                    <dx-button style="float: right; margin: 20px 20px 20px;" stylingMode="contained" text="Submit"
                        type="success" [width]="200" (onClick)="approve()">
                    </dx-button>
                    <dx-button *ngIf="Id != 0 && !dataSource.IsCreatedEmployee"
                        style="float: right; margin: 20px 20px 20px;" stylingMode="outlined"
                        text="Create {{dataSource.CandidateFullname}} as employee" type="success"
                        (onClick)="createEmployee()">
                    </dx-button>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>