<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row"
                fxLayoutAlign="space-between center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxLayout="row" fxLayoutAlign="start center" fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['finance', 'journals']"></vex-breadcrumbs>
                    <span class="icons material-icons">add</span>
                </h2>
                <span class="icons material-icons">bookmark_border </span>
            </div>

            <dx-data-grid [dataSource]="dataSource" [showRowLines]="true" [showBorders]="true" keyExpr="Id"
                [allowColumnResizing]="true" [columnResizingMode]="'widget'" [columnAutoWidth]="true"
                (onInitNewRow)="onInitNewRow($event)" (onEditingStart)="onEditingStart($event)"
                (onRowRemoving)="onRowRemoving($event)" (onContentReady)="contentReady($event)">
                <dxo-editing mode="form" [allowUpdating]="true" [allowDeleting]="true" [useIcons]="true">
                </dxo-editing>
                <dxo-paging [enabled]="true" [pageSize]="10"> </dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[10, 20, 30]" [showInfo]="true">
                </dxo-pager>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
                <dxi-column dataField="Status" [groupIndex]="0"> </dxi-column>

                <dxi-column dataField="Code" caption="{{'code' | translate}}" [filterOperations]="['contains']"
                    [sortIndex]="0" sortOrder="desc">
                </dxi-column>

                <dxi-column dataField="Name" caption="{{'name' | translate}}" [filterOperations]="['contains']">
                </dxi-column>

                <dxi-column dataField="Type" caption="{{'type' | translate}}" [filterOperations]="['contains']">
                </dxi-column>

                <dxi-column dataField="PostDateTime" caption="{{'post-date-time' | translate}}"
                    format="dd-MMM-yyyy HH:mm:ss" dataType="date" [filterOperations]="['contains']">
                </dxi-column>

                <dxi-column dataField="CreatedDateTime" caption="{{'created-date-time' | translate}}"
                    format="dd-MMM-yyyy HH:mm:ss" dataType="date" [filterOperations]="['contains']">
                </dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>