<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['human-resources', 'application']"></vex-breadcrumbs>
                </h2>
            </div>
            <mat-tab-group>
                <mat-tab label="General">
                    <dx-form style="margin: 30px;" [formData]="dataSource" [showColonAfterLabel]="false"
                        [labelLocation]="'top'">
                        <dxi-item itemType="group" [colCount]="4">
                            <dxi-item [editorOptions]="{ readOnly: true }" dataField="Code">
                            </dxi-item>
                            <dxi-item [colSpan]="3">
                                <label>Employee Demand</label>
                                <dx-drop-down-box #employeeDemand [deferRendering]="false" [readOnly]="IsReadOnly"
                                    placeholder="Select an employee demand..." [dataSource]="dsEmployeeDemands"
                                    [(value)]="selectedEmployeeDemand"
                                    [displayValueFormatter]="employeeDemands_displayValueFormatter">
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-data-grid [dataSource]="dsEmployeeDemands" [hoverStateEnabled]="true"
                                            [columnAutoWidth]="true" height="100%" width="100%"
                                            [scrolling]="{ mode: 'infinite' }" [showBorders]="true"
                                            (onRowDblClick)="gvEmployeeDemands_rowDblClick()"
                                            [(selectedRowKeys)]="selectedEmployeeDemand">
                                            <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                            <dxi-column dataField="Code"> </dxi-column>
                                            <dxi-column dataField="Name"> </dxi-column>
                                            <dxi-column dataField="Department"> </dxi-column>
                                            <dxi-column dataField="Position"> </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </dx-drop-down-box>
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="group" [colCount]="4">
                            <dxi-item [colSpan]="3">
                                <label>Candidate</label>
                                <dx-drop-down-box #candidate [deferRendering]="false" [readOnly]="IsReadOnly"
                                    placeholder="Select an candidate..." [dataSource]="dsCandidates"
                                    [(value)]="selectedCandidate"
                                    [displayValueFormatter]="candidates_displayValueFormatter">
                                    <div *dxTemplate="let data of 'content'">
                                        <dx-data-grid [dataSource]="dsCandidates" [hoverStateEnabled]="true"
                                            [columnAutoWidth]="true" height="100%" width="100%"
                                            [scrolling]="{ mode: 'infinite' }" [showBorders]="true"
                                            (onRowDblClick)="gvCandidates_rowDblClick()"
                                            [(selectedRowKeys)]="selectedCandidate">
                                            <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                                            <dxi-column dataField="Code"> </dxi-column>
                                            <dxi-column dataField="Firstname"> </dxi-column>
                                            <dxi-column dataField="Middlename"> </dxi-column>
                                            <dxi-column dataField="Lastname"> </dxi-column>
                                            <dxi-column dataField="Source"> </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </dx-drop-down-box>
                            </dxi-item>
                            <dxi-item dataField="ExpectedSalary" editorType="dxNumberBox"
                                [editorOptions]="ExpectedSalaryEditorOptions">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item *ngIf="Id != 0" itemType="group">
                            <dxi-item dataField="StatusId" [label]="{text: 'Status'}"
                                [editorOptions]="statusEditorOptions" editorType="dxSelectBox">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
                            <dxi-tab title="Approval Employees">

                                <dx-drop-down-box *ngIf="!IsReadOnly" #approvalEmployee [deferRendering]="false"
                                    placeholder="Select an employee..." [showClearButton]="true"
                                    style="margin-bottom: 15px;" [dataSource]="dsEmployees">

                                    <div *dxTemplate="let data of 'content'">
                                        <dx-data-grid [dataSource]="dsEmployees" [hoverStateEnabled]="true"
                                            height="100%" [columnAutoWidth]="true" [scrolling]="{ mode: 'infinite' }"
                                            [showBorders]="true"
                                            (onRowDblClick)="gvApprovalEmployees_rowDblClick($event)">
                                            <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="UserId" [visible]="false"> </dxi-column>
                                            <dxi-column dataField="Username"> </dxi-column>
                                            <dxi-column dataField="Code"> </dxi-column>
                                            <dxi-column dataField="Firstname"> </dxi-column>
                                            <dxi-column dataField="Middlename"> </dxi-column>
                                            <dxi-column dataField="Lastname"> </dxi-column>
                                            <dxi-column dataField="Position"> </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </dx-drop-down-box>

                                <dx-tag-box (onValueChanged)="approvalEmployees_OnValueChanged($event)"
                                    [disabled]="IsReadOnly" [dataSource]="dsApprovalEmployees" displayExpr="FullName"
                                    [(value)]="dataSource['ApprovalEmployees']" valueExpr="Id"
                                    [hideSelectedItems]="true">
                                </dx-tag-box>
                            </dxi-tab>
                        </dxi-item>

                        <dxi-item itemType="tabbed" [tabPanelOptions]="{ deferRendering: false }">
                            <dxi-tab title="Moderators">

                                <dx-drop-down-box *ngIf="!IsReadOnly" #moderator [deferRendering]="false"
                                    placeholder="Select an employee..." [showClearButton]="true"
                                    style="margin-bottom: 15px;" [dataSource]="dsEmployees">

                                    <div *dxTemplate="let data of 'content'">
                                        <dx-data-grid [dataSource]="dsEmployees" [hoverStateEnabled]="true"
                                            height="100%" [scrolling]="{ mode: 'infinite' }" [showBorders]="true"
                                            (onRowDblClick)="gvModerators_rowDblClick($event)">
                                            <dxo-remote-operations [filtering]="true"></dxo-remote-operations>
                                            <dxo-filter-row [visible]="true"></dxo-filter-row>
                                            <dxo-selection mode="single"></dxo-selection>
                                            <dxi-column dataField="UserId" [visible]="false"> </dxi-column>
                                            <dxi-column dataField="Username"> </dxi-column>
                                            <dxi-column dataField="Code"> </dxi-column>
                                            <dxi-column dataField="Firstname"> </dxi-column>
                                            <dxi-column dataField="Middlename"> </dxi-column>
                                            <dxi-column dataField="Lastname"> </dxi-column>
                                            <dxi-column dataField="Position"> </dxi-column>
                                        </dx-data-grid>
                                    </div>
                                </dx-drop-down-box>

                                <dx-tag-box (onValueChanged)="moderators_OnValueChanged($event)" [disabled]="IsReadOnly"
                                    [dataSource]="dsModerators" displayExpr="FullName"
                                    [(value)]="dataSource['Moderators']" valueExpr="Id" [hideSelectedItems]="true">
                                </dx-tag-box>
                            </dxi-tab>
                        </dxi-item>
                        <dxi-item itemType="group">
                            <dxi-item dataField="Note" [editorOptions]="NoteReadOnlyEditorOptions"
                                editorType="dxTextArea">
                            </dxi-item>
                        </dxi-item>
                        <dxi-item>
                            <dx-button *ngIf="!IsReadOnly" style="float: right; margin: 20px 20px 20px;"
                                stylingMode="contained" text="Submit" type="success" [width]="200"
                                (onClick)="approve()">
                            </dx-button>
                        </dxi-item>
                    </dx-form>
                </mat-tab>
                <mat-tab *ngIf="Id!=0" label="Appointments">
                    <dx-data-grid style="margin: 15px;" [dataSource]="dsAppointments" [showBorders]="true"
                        (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
                        (onRowRemoved)="onRowRemoved($event)">

                        <dxo-editing mode="popup" [allowUpdating]="true" [allowAdding]="true" [allowDeleting]="true"
                            [useIcons]="true">
                            <dxo-popup title="Appointment" [showTitle]="true" [width]="700" [height]="525"
                                [position]="{ my: 'center', at: 'center' }" [closeOnOutsideClick]="true">
                            </dxo-popup>
                            <dxo-form [showColonAfterLabel]="false" [labelLocation]="'top'">
                                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                    <dxi-item dataField="Name"></dxi-item>
                                    <dxi-item dataField="Location"></dxi-item>
                                </dxi-item>
                                <dxi-item itemType="group" [colCount]="2" [colSpan]="2">
                                    <dxi-item dataField="DecisionId" [label]="{text: 'Decision'}"
                                        [editorOptions]="{ showClearButton: true }"></dxi-item>
                                    <dxi-item dataField="InterviewTypeId" [label]="{text: 'Interview Type'}"></dxi-item>
                                    <dxi-item dataField="FromDateTime"></dxi-item>
                                    <dxi-item dataField="ToDateTime" [editorOptions]="{ showClearButton: true }">
                                    </dxi-item>
                                    <dxi-item dataField="Note" editorType="dxTextArea" [colSpan]="2"
                                        [editorOptions]="{ height: 100 }">
                                    </dxi-item>
                                </dxi-item>
                            </dxo-form>
                        </dxo-editing>

                        <dxi-column dataField="Id" [visible]="false"> </dxi-column>
                        <dxi-column dataField="Name">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="Location">
                        </dxi-column>
                        <dxi-column dataField="FromDateTime" dataType="datetime">
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="ToDateTime" dataType="datetime">
                        </dxi-column>
                        <dxi-column dataField="DecisionId" caption="Decision">
                            <dxo-lookup [dataSource]="dsDecisions" valueExpr="Id" displayExpr="Name">
                            </dxo-lookup>
                        </dxi-column>
                        <dxi-column dataField="InterviewTypeId" caption="Interview Type">
                            <dxo-lookup [dataSource]="dsInterviewTypes" valueExpr="Id" displayExpr="Name">
                            </dxo-lookup>
                            <dxi-validation-rule type="required"></dxi-validation-rule>
                        </dxi-column>
                        <dxi-column dataField="Note" [visible]="false">
                        </dxi-column>
                    </dx-data-grid>
                </mat-tab>
                <mat-tab *ngIf="Id!=0" label="Interviews">
                    <mat-accordion [multi]="true">
                        <mat-expansion-panel [expanded]='true' *ngFor="let item of dsInterviews">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{item.fullName}}
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-expansion-panel [expanded]='true' *ngFor="let rowItem of item.details">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{rowItem.name}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{rowItem.interviewType}}
                                    </mat-panel-description>
                                    <mat-panel-description>
                                        {{rowItem.decision}}
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div>
                                    <p>
                                        <span>{{rowItem.note}}</span>
                                    </p>
                                    <div style="float: right; margin: 5px;">
                                        <p>{{rowItem.fromDateTime}} ┉ {{rowItem.toDateTime}}</p>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-tab>
            </mat-tab-group>
        </div>
    </vex-page-layout-content>
</vex-page-layout>