<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['finance', 'accounts']"></vex-breadcrumbs>
                </h2>
            </div>

            <dx-tree-list [showRowLines]="true" [autoExpandAll]="expanded" [dataSource]="dataSource" keyExpr="Id"
                parentIdExpr="ParentId" [columnAutoWidth]="true" [wordWrapEnabled]="true" [showBorders]="true"
                [rowAlternationEnabled]="true" (onToolbarPreparing)="onToolbarPreparing($event)"
                (onInitNewRow)="onInitNewRow($event)" (onEditingStart)="onEditingStart($event)"
                (onRowRemoving)="onRowRemoving($event)">
                <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                    [useIcons]="true">
                </dxo-editing>
                <dxo-search-panel [visible]="true" width="250"></dxo-search-panel>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-paging [enabled]="true" [pageSize]="25"> </dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 75]" [showInfo]="true">
                </dxo-pager>
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>

                <dxi-column dataField="Id" [visible]="false"></dxi-column>
                <dxi-column dataField="ParentId" [visible]="false"></dxi-column>

                <dxi-column dataField="Code" caption="{{'code' | translate}}"
                    [editorOptions]="{ showClearButton: true }" [filterOperations]="['startswith']">
                </dxi-column>

                <dxi-column dataField="Name" caption="{{'name' | translate}}"
                    [editorOptions]="{ showClearButton: true }" [filterOperations]="['contains']">
                </dxi-column>

                <dxi-column dataField="AccountGroup" caption="{{'account-group' | translate}}" [allowFiltering]="false">
                </dxi-column>

                <dxi-column dataField="BalanceType" caption="{{'balance-type' | translate}}" [allowFiltering]="false">
                </dxi-column>

                <dxi-column dataField="TransactionType" caption="{{'transaction-type' | translate}}"
                    [allowFiltering]="false"> </dxi-column>
            </dx-tree-list>
        </div>
    </vex-page-layout-content>
</vex-page-layout>