<div>
    <label for="address-label" class="address-label">Addresses</label>
    <div id="address-label" class="addresses-container flex ">
        <div class="addresses">
            <div class="address flex justify-items-center justify-between" *ngFor="let item of addressList">
                <div (dblclick)="editAddress(item.Id)">
                    <p>{{(item.Address.length>22)? (item.Address | slice:0:23)+'...':(item.Address)}}</p>
                    <p class="address-group">{{(((item.Country ? item.City + ", ":item.City) + (item.ZipCode ?
                        item.Country + ",":item.ZipCode) + item.ZipCode).length>22)? (((item.Country ? item.City + ",
                        ":item.City) + (item.ZipCode ? item.Country + ",":item.ZipCode) + item.ZipCode) |
                        slice:0:23)+'...':((item.Country ? item.City + ", ":item.City) + (item.ZipCode ? item.Country +
                        ",":item.ZipCode) + item.ZipCode)}}</p>
                </div>
                <div class="btn-group flex flex-col justify-center	">
                    <i (click)="deleteAddress(item.Id)" class="dx-icon dx-icon-trash"></i>
                    <i (click)="editAddress(item)" class="dx-icon dx-icon-edit"></i>
                </div>
            </div>
        </div>
        <dx-button class="add-item" stylingMode="text" type="normal" icon="plus" (onClick)="initAddress()">
        </dx-button>
    </div>
</div>

<dx-popup [resizeEnabled]="true" [width]="800" [height]="250" [showTitle]="true" title="Address" [dragEnabled]="true"
    [closeOnOutsideClick]="true" [(visible)]="popupVisible">
    <dx-form [labelLocation]="'top'" [showColonAfterLabel]="false" [formData]="tempDataSourceAddr">
        <dxi-item itemType="group" [colCount]="3">
            <dxi-item [colSpan]="1" dataField="AddressType" editorType="dxSelectBox"
                [editorOptions]="{ items: addressType }">
            </dxi-item>
            <dxi-item [colSpan]="2" dataField="Address"></dxi-item>
        </dxi-item>
        <dxi-item itemType="group" [colCount]="3">
            <dxi-item dataField="Country"></dxi-item>
            <dxi-item dataField="City"></dxi-item>
            <dxi-item dataField="ZipCode"></dxi-item>
        </dxi-item>
        <dxi-item>
            <dx-button style="float: right;" stylingMode="outlined" text="Submit" type="success"
                (onClick)="addNewAddress()">
            </dx-button>
        </dxi-item>

    </dx-form>
</dx-popup>