@mixin commonCodes {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.address-label{
    color: #333;
    font-weight: 400;
    font-size: 14px;
    font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
    line-height: 1.35715;

}
.addresses-container{
    background-color: white;
    min-width:200px;
    // max-width: auto;
    border: 1px solid #dddddd;
    @include commonCodes();
    .add-item{
        margin: 3px
    }
    .addresses{
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;

        .address{
            margin: 5px;
            padding: 5px;
            background-color: #f7f7f7;
            @include commonCodes();
            white-space: nowrap;
            color: #333;
            font-weight: 400;
            font-size: 14px;
            font-family: "Helvetica Neue","Segoe UI",helvetica,verdana,sans-serif;
            line-height: 1.35715;        
            .address-group{
                font-size: 12px;
            }
            .btn-group{
                margin-left: 15px;
                i{
                font-size: 20px;
                    cursor: pointer;
                    &:first-child{
                        margin-bottom: 3px;
                    }
                    &:last-child{
                        margin-top: 3px;
                    }
                }
                
            }
        }
    }
}


