<vex-page-layout>
  <vex-page-layout-content>
    <div class="card overflow-auto">
      <vex-card-header [crumbs]="['purchasing', 'blanket-purchase-order-card']"></vex-card-header>
      <form [formGroup]="itemForm" class="grid grid-cols-3 gap-5 p-10 border-b-2" autocomplete="off">

        <!-- Vendors -->
        <hub-form-field>
          <hub-label>Vendor Name </hub-label>
          <kendo-multicolumncombobox class="hub-multi-column-select-box" style="width: 2800px;" [data]="dsVendors"
            [listHeight]="300" textField="Name" valueField="Id" rounded="null" [valuePrimitive]="true"
            formControlName="VendorId">
            <kendo-combobox-column field="Code" title="Code" [width]="200">
            </kendo-combobox-column>
            <kendo-combobox-column field="Name" title="Name" [width]="200">
            </kendo-combobox-column>
            <kendo-combobox-column field="SearchName" title="SearchName" [width]="200">
            </kendo-combobox-column>
            <ng-template kendoMultiColumnComboBoxFooterTemplate>
              <strong>
                {{ dsVendors.length }} Vendors in
                total
              </strong>
            </ng-template>
          </kendo-multicolumncombobox>
        </hub-form-field>
        <!-- VendorShipmentNumber -->
        <hub-form-field>
          <hub-label>Vendor Shipment Number</hub-label>
          <hub-input formControlName="VendorShipmentNumber"></hub-input>
        </hub-form-field>
        <!-- VendorOrderNumber -->
        <hub-form-field>
          <hub-label>Vendor Order Number</hub-label>
          <hub-input formControlName="VendorOrderNumber"></hub-input>
        </hub-form-field>
        <!-- DocumentDate -->
        <hub-form-field>
          <hub-label>Document Date</hub-label>
          <hub-datepicker formControlName="DocumentDate" [allowFutureDates]="false" required label="DD/MM/YYYY">
          </hub-datepicker>
        </hub-form-field>
        <!-- DueDate -->
        <hub-form-field>
          <hub-label>Due Date</hub-label>
          <hub-datepicker formControlName="DueDate" [allowFutureDates]="false" required label="DD/MM/YYYY">
          </hub-datepicker>
        </hub-form-field>
        <!-- OrderDate -->
        <hub-form-field>
          <hub-label>Order Date</hub-label>
          <hub-datepicker formControlName="OrderDate" [allowFutureDates]="false" required label="DD/MM/YYYY">
          </hub-datepicker>
        </hub-form-field>
        <!-- Code -->
        <hub-form-field>
          <hub-label>Code</hub-label>
          <hub-input readonly="true" formControlName="Code"></hub-input>
        </hub-form-field>
        <button [disabled]="itemForm.invalid" mat-raised-button color="primary" class="col-span-2 place-self-end"
          (click)="approve()">Submit</button>
      </form>
      <hub-data-grid [dataSource]="dataSource" [columns]="columns" [pageSizeOptions]="pageSizeOptions"
        [pageSize]="pageSize" paginatorText="Səhifə başına element sayı:" emptyDataText="Məlumat yoxdur"
        name="blanket-purchase-orders" [search]="true" [insert]="true" [paginatorShow]="true">
        <ng-template let-label="label" let-item="item">
          <ng-container [ngSwitch]="label">
            <ng-container *ngSwitchCase="'Item'">{{ item.Item }}</ng-container>
            <ng-container *ngSwitchCase="'QuantityToReceive'">
              {{ item.QuantityToReceive }}
            </ng-container>
            <ng-container *ngSwitchCase="'QuantityReceive'">
              {{ item.QuantityReceive }}
            </ng-container>
            <ng-container *ngSwitchCase="'QuantityInvoiced'">
              {{ item.QuantityInvoiced }}
            </ng-container>
          </ng-container>
        </ng-template>
      </hub-data-grid>
    </div>
  </vex-page-layout-content>
</vex-page-layout>