<mat-form-field class="example-form-field pt-6" appearance="outline">
    <input matInput>
    <button mat-button matSuffix mat-icon-button>
        <mat-icon style="font-size: 25px;">search</mat-icon>
    </button>
</mat-form-field>