<div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title height my-0 ltr:pr-4 rtl:pl-4 ltr:border-r rtl:border-l" fxFlex="none" fxHide.xs>
            <vex-breadcrumbs [crumbs]="crumbs"></vex-breadcrumbs>
        </h2>
        <!-- <button (click)="add()" mat-button>
            <mat-icon class="icons">add</mat-icon>
            New
        </button> -->
    </div>
    <button mat-icon-button>
        <mat-icon class="icons">bookmark_border</mat-icon>
    </button>
</div>