<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['configuration', 'business-units']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [showRowLines]="true" [dataSource]="dataSource" keyExpr="Id" [columnAutoWidth]="true"
                [wordWrapEnabled]="true" [showBorders]="true" [rowAlternationEnabled]="true">
                <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                    [useIcons]="true">
                    <dx-form [labelLocation]="'top'" [showColonAfterLabel]="false">
                        <dxi-item itemType="group" [colCount]="3">
                            <dxi-item dataField="Code">
                            </dxi-item>
                            <dxi-item dataField="Name">
                            </dxi-item>
                            <dxi-item dataField="SearchName">
                            </dxi-item>
                            <dxi-item dataField="Company">
                            </dxi-item>
                            <dxi-item dataField="CurrencyCode">
                            </dxi-item>
                            <dxi-item dataField="Note">
                            </dxi-item>
                        </dxi-item>
                    </dx-form>
                </dxo-editing>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>

                <dxi-column dataField="Code" caption="{{'code' | translate}}" [allowEditing]="false">
                </dxi-column>
                <dxi-column dataField="Name" caption="{{'name' | translate}}">
                </dxi-column>
                <dxi-column dataField="SearchName" caption="{{'search-name' | translate}}">
                </dxi-column>
                <dxi-column dataField="Company" caption="{{'company' | translate}}" [allowFiltering]="false"
                    [filterOperations]="['contains']">
                    <dxo-lookup [dataSource]="dsCompany" valueExpr="Id" displayExpr="Name">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="CurrencyCode" caption="{{'currency-code' | translate}}" [allowFiltering]="false"
                    [filterOperations]="['contains']">
                    <dxo-lookup [dataSource]="dsCurrency" valueExpr="Id" displayExpr="Name">
                    </dxo-lookup>
                </dxi-column>
                <dxi-column dataField="Note" caption="{{'note' | translate}}"></dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>