@import "~simplebar/dist/simplebar.css";
@import "~highlight.js/styles/androidstudio.css";
// Vex Core
@import "./@hubcore/styles/core";

.dx-datagrid.dx-datagrid-borders > .dx-datagrid-header-panel,
.dx-treelist-header-panel {
  padding: 10px 10px 0;
}

.hub-multi-column-select-box {
  margin-left: 10px;
  height: 40px;
  border-color: rgb(var(--color-mode));
  color: rgb(var(--color-mode));
  background-color: rgb(var(--color-remode));
  &:hover {
    border-color: rgb(var(--color-mode));
  }

  .k-input-button {
    background-color: rgb(var(--color-mode));
    color: rgb(var(--color-remode));
  }
}
