:host {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.8;
  height: 100%;
  max-width: 100%;
  color: rgb(var(--color-mode));
  &:after {
    margin-left: 5px;
    line-height: 125%;
    opacity: 0.4;
    // content: "...........................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................................";
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
  }
}
