<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['finance', 'analysis-sections']"></vex-breadcrumbs>
                </h2>
            </div>

            <dx-data-grid [dataSource]="dataSource" [showRowLines]="true" [showBorders]="true"
                [masterDetail]="{ enabled: true, template: 'detail' }" keyExpr="Code"
                (onRowExpanded)="onRowExpanded($event)">
                <dxi-column dataField="Code" caption="{{'code' | translate}}"> </dxi-column>
                <dxi-column dataField="Name" caption="{{'name' | translate}}"> </dxi-column>
                <div *dxTemplate="let analysisSection of 'detail'">
                    <dx-data-grid [dataSource]="analysisSectionJoinDimensionGroups[analysisSection.key]"
                        [showRowLines]="true" [showBorders]="true"
                        (onRowInserting)="onRowInserting($event, analysisSection.key)"
                        (onRowUpdating)="onRowUpdating($event, analysisSection.key)"
                        (onRowRemoving)="onRowRemoving($event, analysisSection.key)">
                        <dxo-editing mode="form" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                            [useIcons]="true">
                        </dxo-editing>
                        <dxi-column dataField="Code" [allowEditing]="false" caption="{{'code' | translate}}">
                        </dxi-column>
                        <dxi-column dataField="Id" caption="{{'dimension-group' | translate}}">
                            <dxo-lookup [dataSource]="dsDimensionGroups" valueExpr="Id" displayExpr="Name">
                            </dxo-lookup>
                        </dxi-column>
                    </dx-data-grid>
                </div>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>