table {
  width: 100%;
}
.code_description {
  font: 100 45px/26px var(--font);
  letter-spacing: -0.014em;
  line-height: 55px;
}
.page-name {
  font: 500 16px/26px var(--font);
  letter-spacing: -0.014em;
}
.mat-icon-button {
  line-height: 0px;
}
.mat-icon-button {
  font-size: 12px;
}

.link-color {
  color: rgb(var(--color-primary)) !important;
}

.bar-item {
  color: rgb(var(--color-bar));
  margin-right: 16px;
  cursor: pointer;
}

.bar-item:last-child,
.bar-item.btn {
  margin-right: 0px;
}

.bar-item button {
  padding: 0px 8px;
}
.icons {
  color: var(--toolbar-icon-color);
  cursor: pointer;
}

.icon-border {
  border: 1px solid rgb(var(--color-primary));
  width: 33px;
  height: 33px;
}

.nav-header-color {
  color: rgb(var(--color-bar));
}

.menu-left-bar {
  color: rgb(var(--color-primary-menu-text));
  cursor: pointer;
}

.divide-l {
  border-left: 1px solid rgb(var(--color-border-line));
  margin: 0px 14px;
  padding: 0px 14px;
}
.form-header {
  border-bottom: 2px solid rgb(var(--color-border-line));
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}

.mat-expansion-panel-header.mat-expanded {
  height: 48px;
}
.mat-expansion-panel-header {
  padding-left: 8px;
}
.mat-expansion-panel-header:hover {
  background-color: transparent;
}
.mat-grid-list {
  height: 100% !important;
}
.picture {
  width: 320px;
  height: 320px;
  object-fit: cover;
  margin: auto;
}
