<vex-page-layout>
  <div class="w-full" fxLayout="row" fxLayoutAlign="start center">
    <div class="w-full flex justify-between items-center">
      <div class="flex items-center w-40">
        <button mat-icon-button [mat-dialog-close]="true">
          <mat-icon class="icons">arrow_back</mat-icon>
        </button>
        <span *ngIf="itemForm.value.Description" style="margin-left: 8px">Item Card</span>
      </div>
      <div class="flex items-center">
        <button mat-icon-button class="icon-border" (click)="approve()" [disabled]="itemForm.invalid">
          <mat-icon class="icons" style="font-size: 22px">create</mat-icon>
        </button>
        <button mat-icon-button class="ml-2">
          <mat-icon class="icons" style="font-size: 22px">add</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon class="icons" style="font-size: 22px">delete_outline</mat-icon>
        </button>
      </div>
      <div class="mr-10 flex items-center">
        <mat-icon class="icons">done</mat-icon>
        <span class="ml-2">SAVED</span>
      </div>
    </div>
  </div>
  <div class="mx-12 py-4" fxLayout="row" fxLayoutAlign="start center">
    <h1 class="code_description flex align-center">
      {{
      !itemForm.value.Description ? "Item Card" : itemForm.value.Description
      }}
    </h1>
  </div>
  <div class="w-full my-4" fxLayout="row" fxLayoutAlign="start center">
    <div class="w-full flex card py-2 px-1 pl-3 mx-3">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h1 class="nav-header-color page-name elect-none">Items</h1>
      </div>
      <div class="flex w-full justify-between">
        <ul class="divide-l flex">
          <li class="bar-item" mat-button [matMenuTriggerFor]="process">
            Process
            <mat-menu #process="matMenu">
              <button mat-menu-item>Item Journal</button>
              <button mat-menu-item>Item Reclassification Journal</button>
            </mat-menu>
          </li>
          <li class="bar-item" mat-button [matMenuTriggerFor]="item">
            Item
            <mat-menu #item="matMenu">
              <button mat-menu-item>Dimensions</button>
              <button mat-menu-item>Cross References</button>
              <button mat-menu-item>Units Of Measure</button>
              <button mat-menu-item>Extended Texts</button>
              <button mat-menu-item>Attachments</button>
              <button mat-menu-item>Attributes</button>
            </mat-menu>
          </li>
          <li class="bar-item"><a>History</a></li>
          <li class="bar-item"><a>Special Sales Prices & Discounts</a></li>
        </ul>
        <div class="nav-header-color" fxLayout="row" fxLayoutAlign="start center">
          <span class="px-2 icons material-icons">bookmark_border </span>
        </div>
      </div>
    </div>
  </div>
  <vex-page-layout-content>
    <div fxFlex="75">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="form-header">
            <mat-panel-title>
              <h1 class="title">Item</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <form [formGroup]="itemForm" class="grid grid-cols-2 gap-5 mt-6" autocomplete="off">
            <!-- Code -->
            <hub-form-field>
              <hub-label>Code</hub-label>
              <hub-input formControlName="Code" readonly="true"></hub-input>
            </hub-form-field>

            <!-- Description -->
            <hub-form-field>
              <hub-label>Description</hub-label>
              <hub-input formControlName="Description"></hub-input>
            </hub-form-field>

            <!-- GTIN -->
            <hub-form-field>
              <hub-label>GTIN</hub-label>
              <hub-input formControlName="GTIN"></hub-input>
            </hub-form-field>

            <!-- ItemTypeId -->
            <hub-form-field>
              <hub-label>Item Type</hub-label>
              <hub-select-box formControlName="ItemTypeId" [dataSource]="dsType" value="Id">
                <ng-template let-data="data">
                  {{ data.Name }}
                </ng-template>
              </hub-select-box>
            </hub-form-field>

            <!-- BaseUnitOfMeasureId -->
            <hub-form-field>
              <hub-label>Base Unit Of Measure </hub-label>
              <kendo-multicolumncombobox class="hub-multi-column-select-box" style="width:3530px"
                [data]="dsBaseUnitOfMeasure" [listHeight]="300" textField="Name" valueField="Id" rounded="null"
                [valuePrimitive]="true" formControlName="BaseUnitOfMeasureId">
                <kendo-combobox-column field="Name" title="Name" [width]="200">
                </kendo-combobox-column>
                <kendo-combobox-column field="Note" title="Note" [width]="200">
                </kendo-combobox-column>
                <ng-template kendoMultiColumnComboBoxFooterTemplate>
                  <strong>
                    {{ dsBaseUnitOfMeasure.length }} Base Unit Of Measure in
                    total
                  </strong>
                </ng-template>
              </kendo-multicolumncombobox>
            </hub-form-field>
            <!-- ItemCategoryId -->
            <hub-form-field>
              <hub-label>Item Category</hub-label>
              <kendo-multicolumncombobox class="hub-multi-column-select-box" style="width:3530px"
                [data]="dsItemCategory" [listHeight]="300" textField="Name" valueField="Id" rounded="null"
                [valuePrimitive]="true" formControlName="ItemCategoryId">
                <kendo-combobox-column field="Name" title="Name" [width]="200">
                </kendo-combobox-column>
                <kendo-combobox-column field="SearchName" title="Search Name" [width]="200">
                </kendo-combobox-column>
                <kendo-combobox-column field="Note" title="Note" [width]="200">
                </kendo-combobox-column>
                <ng-template kendoMultiColumnComboBoxFooterTemplate>
                  <strong>
                    {{ dsItemCategory.length }} Item Category in total
                  </strong>
                </ng-template>
              </kendo-multicolumncombobox>
            </hub-form-field>

            <!-- LastModifiedDateTime -->
            <hub-form-field>
              <hub-label>Last Modified Date Time</hub-label>
              <hub-input [readonly]="true" formControlName="LastModifiedDateTime"></hub-input>
            </hub-form-field>

            <!-- CommonItemNo -->
            <hub-form-field>
              <hub-label>Common Item Number</hub-label>
              <hub-input formControlName="CommonItemNumber"></hub-input>
            </hub-form-field>

            <!-- UnitPrice -->
            <hub-form-field>
              <hub-label>Unit Price</hub-label>
              <hub-input formControlName="UnitPrice"></hub-input>
            </hub-form-field>

            <!-- UnitCost -->
            <hub-form-field>
              <hub-label>Unit Cost</hub-label>
              <hub-input formControlName="UnitCost"></hub-input>
            </hub-form-field>

            <!-- AutomaticExtText -->
            <hub-form-field>
              <hub-label>Automatic Ext. Text</hub-label>
              <hub-slide-toggle [checked]="itemForm.value.AutomaticExtText" formControlName="AutomaticExtText">
              </hub-slide-toggle>
            </hub-form-field>

            <!-- PurchasingBlocked -->
            <hub-form-field>
              <hub-label>Purchasing Blocked</hub-label>
              <hub-slide-toggle [checked]="itemForm.value.PurchasingBlocked" formControlName="PurchasingBlocked">
              </hub-slide-toggle>
            </hub-form-field>
          </form>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div fxFlex="25" fxLayout="column">
      <mat-accordion class="mb-2" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header class="form-header">
            <mat-panel-title>
              <h1 class="title">Picture</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <img class="py-2 picture"
            src="https://campaigns.uthscsa.edu/social-media-guide/wp-content/uploads/sites/19/2017/11/320x320.png"
            alt="" />
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion class="mb-2" multi>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header class="form-header">
            <mat-panel-title>
              <h1 class="title">Attachments</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          Document
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion class="mb-2" multi>
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header class="form-header">
            <mat-panel-title>
              <h1 class="title">Item Attributes</h1>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="dsItemAttributes">
            <ng-container matColumnDef="Attribute">
              <th mat-header-cell *matHeaderCellDef>ATTRIBUTE</th>
              <td mat-cell *matCellDef="let element">
                {{ element.Attribute }}
              </td>
            </ng-container>

            <ng-container matColumnDef="Value">
              <th mat-header-cell *matHeaderCellDef>VALUE</th>
              <td mat-cell *matCellDef="let element">{{ element.Value }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="itemAttributesColumn"></tr>
            <tr mat-row *matRowDef="let row; columns: itemAttributesColumn"></tr>
          </table>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </vex-page-layout-content>
</vex-page-layout>