<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['warehouse', 'bins']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [showRowLines]="true" [dataSource]="dataSource" keyExpr="Id" [columnAutoWidth]="true"
                [wordWrapEnabled]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                (onRowInserting)="onRowInserting($event)" (onRowUpdating)="onRowUpdating($event)"
                (onRowRemoving)="onRowRemoving($event)">
                <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                    [useIcons]="true">
                </dxo-editing>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxi-column dataField="Code" caption="Code">
                </dxi-column>
                <dxi-column dataField="Description" caption="Description">
                </dxi-column>
                <dxi-column dataField="ZoneId" caption="Zone" [allowSorting]="false">
                    <dxo-lookup [dataSource]="dsZones" displayExpr="Description" valueExpr="Id">
                    </dxo-lookup>
                </dxi-column>

                <dxi-column dataField="BinTypeId" caption="Bin Type" [allowSorting]="false">
                    <dxo-lookup [dataSource]="dsBinType" displayExpr="Description" valueExpr="Id">
                    </dxo-lookup>
                </dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>