<div class="toolbar w-full px-gutter" fxLayout="row" fxLayoutAlign="start center">
  <a *ngIf="isVerticalLayout$ | async" [routerLink]="['/home']" class="ltr:mr-4 rtl:ml-4 block" fxLayout="row"
    fxLayoutAlign="start center">
    <img class="w-6 select-none" src="assets/img/demo/logo.png">
    <h1 fxHide.xs class="title ltr:pl-4 rtl:pr-4 m-0 select-none">HUBITAL Business Central</h1>
    <h1 fxHide fxShow.xs class="title ltr:pl-4 rtl:pr-4 m-0 select-none">HUBITAL</h1>

  </a>
  <span fxFlex></span>

  <div class="-mx-1 flex items-center">
    <div class="px-1">
      <vex-search></vex-search>
    </div>

    <div class="px-1">
      <vex-toolbar-notifications></vex-toolbar-notifications>
    </div>

    <div class="px-1">
      <button [matMenuTriggerFor]="languageMenu" mat-icon-button type="button">
        <mat-icon [icIcon]="selectedLang"></mat-icon>
      </button>
    </div>

    <div class="px-1">
      <vex-toolbar-user></vex-toolbar-user>
    </div>

    <mat-menu #languageMenu="matMenu" overlapTrigger="false" xPosition="before" yPosition="below">
      <button mat-menu-item (click)="selectLang('en')">
        <mat-icon [icIcon]="emojioneUS"></mat-icon>
        <span>English</span>
      </button>

      <button mat-menu-item (click)="selectLang('az')">
        <mat-icon [icIcon]="emojioneAZ"></mat-icon>
        <span>Azərbaycan</span>
      </button>
    </mat-menu>
  </div>
</div>