<vex-page-layout>
    <vex-page-layout-content>
        <div class="card overflow-auto">
            <div class="bg-app-bar px-6 h-16 border-b sticky left-0" fxLayout="row" fxLayoutAlign="start center">
                <h2 class="title my-0 ltr:pr-4 rtl:pl-4 ltr:mr-4 rtl:ml-4 ltr:border-r rtl:border-l" fxFlex="none"
                    fxHide.xs>
                    <vex-breadcrumbs [crumbs]="['sales', 'customers']"></vex-breadcrumbs>
                </h2>
            </div>
            <dx-data-grid [showRowLines]="true" [dataSource]="dataSource" keyExpr="Id" [columnAutoWidth]="true"
                [wordWrapEnabled]="true" [showBorders]="true" [rowAlternationEnabled]="true"
                (onInitNewRow)="onInitNewRow($event)" (onRowRemoving)="onRowRemoving($event)"
                (onEditingStart)="onEditingStart($event)">
                <dxo-editing mode="row" [allowAdding]="true" [allowUpdating]="true" [allowDeleting]="true"
                    [useIcons]="true">
                </dxo-editing>
                <dxo-sorting mode="multiple"></dxo-sorting>
                <dxo-paging [enabled]="true" [pageSize]="25"> </dxo-paging>
                <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[25, 50, 75]" [showInfo]="true">
                </dxo-pager>
                <dxo-scrolling mode="standard"></dxo-scrolling>
                <dxo-load-panel [enabled]="true"></dxo-load-panel>
                <dxo-filter-row [visible]="true"></dxo-filter-row>
                <dxi-column dataField="Code" [visible]='false' caption="{{'code' | translate}}">
                </dxi-column>
                <dxi-column dataField="Name" caption="{{'name' | translate}}">
                </dxi-column>
                <dxi-column dataField="SearchName" caption="{{'search-name' | translate}}">
                </dxi-column>
            </dx-data-grid>
        </div>
    </vex-page-layout-content>
</vex-page-layout>